@import 'import/variables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'owl.carousel';
@import 'sprite';
.clearfix {
  *zoom: 1;
  &:before {
    display: table;

    content: '';
  }
  &:after {
    display: table;
    clear: both;

    content: '';
  }
}
.clear {
  clear: both;
}
/* @import 'old/chat-v5'; */
/*
 * Swiper 2.7.0
 * Mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/sliders/swiper/
 *
 * Copyright 2010-2014, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under GPL & MIT
 *
 * Released on: August 30, 2014
*/
/* ===============================================================
Basic Swiper Styles
================================================================*/

.swiper-container {
  position: relative;
  /* Fix of Webkit flickering */
  z-index: 1;

  overflow: hidden;

  margin: 0 auto;

  backface-visibility: hidden;
}

.swiper-wrapper {
  position: relative;

  box-sizing: content-box;
  width: 100%;

  transition-timing-function: ease;
  transition-duration: 0s;
  transition-property: transform, left, top;
  transform: translate3d(0px, 0, 0);
}

.swiper-free-mode > .swiper-wrapper {
  margin: 0 auto;

  transition-timing-function: ease-out;
}

.swiper-slide {
  float: left;

  box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}
a {
  outline: 0 none !important;
  &:visited,
  &:focus,
  &:active,
  &:hover {
    outline: 0 none !important;
  }
}

/*****************************************************************************/

.DMenu_Products_TopLevel_Font_normal,
.DMenu_Products_TopLevel_Font_selected,
.DMenu_Products_TopLevel_Font_descendant_selected {
  font-family: Arial;
  font-size: 8pt;
  font-weight: normal;

  text-decoration: none;

  color: black;
}

.DMenu_Products_FlatLevel_Font_normal,
.DMenu_Products_FlatLevel_Font_selected,
.DMenu_Products_FlatLevel_Font_descendant_selected {
  font-family: Arial;
  font-size: 8pt;
  font-weight: normal;

  cursor: pointer;
  cursor: hand;
  text-align: right;
}

.DMenu_Products_TopLevel_MouseOver_normal {
  cursor: pointer;
  cursor: hand;

  color: #933;
}

.DMenu_Products_TopLevel_MouseOut_normal {
  cursor: pointer;
  cursor: hand;

  color: black;
}

.DMenu_Products_TopLevel_MouseOver_selected,
.DMenu_Products_TopLevel_MouseOut_selected,
.DMenu_Products_TopLevel_MouseOver_descendant_selected,
.DMenu_Products_TopLevel_MouseOut_descendant_selected {
  cursor: pointer;
  cursor: hand;

  color: white;
  background-color: #edf8f5;
}

.DMenu_Products_FlatLevel_MouseOver_normal {
  cursor: pointer;
  cursor: hand;

  color: white;
  border: 1px solid #666;
  background-color: #63acdc;
}

.DMenu_Products_FlatLevel_MouseOut_normal {
  cursor: pointer;
  cursor: hand;

  color: black;
  border: 1px solid #666;
  background-color: #e6e6e6;
}

.DMenu_Products_FlatLevel_MouseOver_selected {
  cursor: pointer;
  cursor: hand;

  color: white;
  border: 1px solid #666;
  background-color: #e59500;
}

.DMenu_Products_FlatLevel_MouseOut_selected {
  cursor: pointer;
  cursor: hand;

  color: white;
  border: 1px solid #666;
  background-color: #fca401;
}

.DMenu_Products_FlatLevel_MouseOver_descendant_selected {
  cursor: pointer;
  cursor: hand;

  color: black;
  border: 1px solid #666;
  background-color: #b2b2b2;
}

.DMenu_Products_FlatLevel_MouseOut_descendant_selected {
  cursor: pointer;
  cursor: hand;

  color: black;
  border: 1px solid #666;
  background-color: #ccc;
}

.DMenu_Products_FlatLevel_Container {
  border-collapse: collapse;

  border: 1px solid #666;
}

/*@@@@DMenu cssClasses **********************************************************************/

.top {
  font-family: Arial;
  font-size: 10px;
  font-weight: normal;

  text-decoration: none;

  color: #5c627a;
}

a.top {
  font-family: Arial,helvetica;
  font-size: 10px;
  font-weight: normal;

  text-decoration: underline;

  color: #5c627a;
  &:hover {
    color: #4077d1;
  }
}

.menuHolder {
  background: url('../img/buttons_background.gif') top left repeat-x;
}

#Menu1 {
  a.MMO {
    color: #a4e438;
  }
  > li {
    > a:hover {
      color: #a4e438;
    }
    &.contatcusBG {
      background: url('../img/last-menu-item-bg.gif') top left repeat-x;
      > a:hover {
        color: #fff;
      }
    }
  }
}

td {
  &.SearchBarPanelTitle {
    BACKGROUND-COLOR: red;
  }
  &.SearchBarPanelBody {
    BACKGROUND-COLOR: #eee;
  }
  &.ProductsCatalogPanelTitle {
    BACKGROUND-COLOR: red;
  }
  &.ProductsCatalogPanelBody {
    BACKGROUND-COLOR: #eee;
  }
  &.MembersClubPanelTitle {
    BACKGROUND-COLOR: red;
  }
  &.MembersClubPanelBody {
    BACKGROUND-COLOR: #eee;
  }
  &.NewsBarPanelTitle {
    BACKGROUND-COLOR: red;
  }
  &.NewsBarPanelBody {
    BACKGROUND-COLOR: #eee;
  }
  &.CartStatusTitle {
    BACKGROUND-COLOR: red;
  }
  &.CartStatusBody {
    BACKGROUND-COLOR: #eee;
  }
  &.ProductTableStyle1 {
    BACKGROUND-COLOR: #f1f7fb;
  }
  &.ProductTableStyle2 {
    BACKGROUND-COLOR: #f9fcfe;
  }
  &.ProductMycartStyle1 {
    BACKGROUND-COLOR: #fff;
  }
  &.ProductMycartStyle2 {
    BACKGROUND-COLOR: #f4f4f4;
  }
  &.ContactFormTitles {
    /*BACKGROUND-COLOR:#D0E6F4;*/
  }
  &.ContactFormInputs {
    /*BACKGROUND-COLOR:#FFFFFF;*/
    padding: 5px 0 15px;
  }
}

input {
  &.Search {
    WIDTH: 100%;
    MARGIN: 5px 0 0 5px;
  }
  &.MembersClub {
    WIDTH: 100%;
    MARGIN: 0 0 0 0;
  }
  &.MembersClubSubmit {
    WIDTH: 90px;
    HEIGHT: 20px;
    MARGIN: 5px 0 0 0;
    TEXT-ALIGN: center;
  }
}

a {
  &.ButtonsText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    font-style: normal;

    text-align: right;
    text-decoration: none;

    color: #5c627a;
    &:hover {
      color: #102996;
    }
  }
  &.ButtonsText1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    font-style: normal;

    text-decoration: none;

    color: #187b8d;
  }
  &.MainButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    font-style: normal;

    cursor: hand;
    text-decoration: none;

    color: #fff;
  }
}

.HeaderBar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  font-style: normal;

  text-align: center;

  color: white;
}

.HTMLtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  font-style: normal;

  color: #112996;
}

.HTMLtitleHome1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: normal;
  font-style: normal;

  color: #112996;
}

.HTMLtitleHome {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  font-style: normal;

  color: #60990e;
}

.HTMLtitle2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;

  color: #112996;
}

.HTMLtitle3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  font-style: normal;

  color: #112996;
}

.HTMLtitlehref {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;

  color: #112996;
}

.HTMLtitleS {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: normal;
  font-style: normal;

  color: #067285;
}

.HTMLtitleS1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: bold;
  font-style: normal;

  color: #476c72;
}

.HTMLtitleS2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: bold;
  font-style: normal;

  color: #323d53;
}

.HTMLtext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;

  width: 535px;

  text-align: justify;

  color: #5c627a;
  img {
    max-width: 100%;
  }
  iframe {
    max-width: 100%;
  }
}

.HTMLtextS {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;

  color: #486b72;
}

.HTMLtextS1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;

  color: #077289;
}

.HTMLtext1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;

  color: #fff;
}

.HTMLtext2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: normal;
  font-style: normal;

  color: #171287;
}

.HTMLtext3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;

  color: #1829a2;
}

.ProductDescriptionTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;

  color: #0077b4;
}

.ProductDescription {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-weight: normal;
  font-style: normal;

  margin: 0 15px 0 0;

  text-align: justify;

  color: #5c627a;
}

.MembersClubLoginTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  font-style: normal;

  text-align: right;

  color: #fff;
}

.MembersClubLoginBody {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;

  text-align: center;

  color: #333;
}

.MembersClubLoginBodyTitles {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;

  text-align: right;

  color: #333;
}

a.MemberPasswardNewUser {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;

  text-align: right;

  color: #5c627a;
}

.MemberPasswardNewUser:hover {
  color: #f00;
}

.NewsBarTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  font-style: normal;

  text-align: right;

  color: #fff;
}

.NewsTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  font-style: normal;

  text-align: right;

  color: #c60;
}

.NewsDate {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-weight: normal;
  font-style: normal;

  text-align: right;

  color: #666;
}

.NewsContent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  text-align: right;

  color: #5c627a;
}

.ProductsCatalogTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  font-style: normal;

  text-align: right;

  color: #fff;
}

.ImageDesc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  text-align: center;

  color: #5c627a;
}

.copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  color: #5b6378;
}

.address {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  text-align: center;

  color: #5c627a;
}

.ProductPrice {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;

  margin: 0 15px 0 0;

  color: #5c627a;
}

.ProductPriceNarrow {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  font-style: normal;

  color: #5c627a;
}

.ItemNo,
.ProductManuf,
.ProductQtn,
.ProductDeliv,
.ProductNotes {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;

  margin: 0 15px 0 0;

  color: #5c627a;
}

.OnsaleDescription {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  font-style: normal;

  margin: 0 0 0 0;
  padding: 3px 3px 3px 3px;

  text-align: right;

  color: #f00;
  border: 1px solid #ccc;
  background-color: #eee;
}

.ProductCategoryTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: bold;
  font-style: normal;

  margin: 0 0 0 0;

  color: #f00;
}

.ProductCategoryLongDescription {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;

  margin: 0 15px 0 0;

  color: #5c627a;
}

.ProductCategoryShortDescription {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;

  margin: 0 15px 0 0;

  color: #5c627a;
}

.FullDetailsText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;

  text-align: right;

  color: #333;
}

.CartStatusText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  text-align: center;

  color: #333;
}

.CartStatusBigPrice {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: bold;
  font-style: normal;

  text-align: center;

  color: #f00;
}

a {
  &.CartStatusLink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    font-style: normal;

    text-align: center;

    color: #5c627a;
    &:hover {
      color: #f00;
    }
  }
  &.ProductNameTableStyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    font-style: normal;

    text-align: center;

    color: #369;
  }
}

.ProductTableTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  font-style: normal;

  text-align: center;

  color: #5c627a;
}

.ProductMycartTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  font-style: normal;

  color: #5c627a;
}

.ProductNameMycart {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  font-style: normal;

  text-decoration: underline;

  color: #f00;
}

.ProductPriceMycart {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  font-style: normal;

  color: #666;
}

.ProductSUBPriceMycart,
.OnsaleCartDesc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  font-style: normal;

  color: #5c627a;
}

.MycartPriceDesc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  color: #5c627a;
}

.MycartPrice {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;

  color: #5c627a;
}

.MycartPanelTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  font-style: normal;

  color: #5c627a;
}

.ContactFormTitles {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  color: #5c627a;
}

.PageName {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  font-style: normal;
  line-height: 20pt;

  color: #102995;
}

.PageName1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: normal;
  font-style: normal;
  line-height: 20pt;

  color: #505f7c;
}

.TitleMain {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  font-style: normal;

  color: #5c627a;
}

.Title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;

  color: #369;
}

.Text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  color: #5c627a;
}

a.Text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;

  text-decoration: underline;

  color: #036;
}

.ContentTable,
.ContentTDTitle {
  background-color: #eee;
}

.ContentTD {
  background-color: #fff;
}

.PanelTable {
  /*background-color : #C0C37E;*/
}

.PanelTDTitle {
  background-color: #c0c37e;
}

.PanelTD {
  background-color: #f3f1d8;
}

.PanelLink {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  font-style: normal;

  text-align: center;

  color: #5c627a;
}

.PanelTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  font-style: normal;

  color: #fff;
}

.PanelText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;

  color: #663;
}

a.NavigationBarStyle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  text-align: right;
  text-decoration: none;

  color: #5c627a;
  &:hover {
    color: #102897;
  }
}

.NavigationBarStyleArrow {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7pt;
  font-weight: bold;
  font-style: normal;

  text-align: right;

  color: #5c627a;
}

a.TableCell {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  font-style: normal;

  text-align: right;
  text-decoration: underline;

  color: #666;
  &:hover {
    color: #333;
  }
}

/*--@@@@@@@@@@@@@@@@@@@@@@--*/
/*--@@@ Global Classes @@@--*/
/*--@@@@@@@@@@@@@@@@@@@@@@--*/

body {
  margin: 15px 0 0 0;

  background-color: #fff;
}

td {
  &.LeftPanel {
    padding-top: 29px;
    padding-bottom: 20px;

    background-color: #d1e3f1;

    WIDTH: 264px;
  }
  &.CenterPanel {
    width: 755px;
    padding-top: 35px;
    padding-left: 25px;
  }
  &.CenterPanel1 {
    WIDTH: 687px;
  }
  &.CenterPanel2 {
    padding-top: 35px;

    background: url('../img/history_page_bg.jpg') top left repeat-y;

    WIDTH: 687px;
  }
  &.RightPanel {
    PADDING: 5px 5px 5px 5px;
    WIDTH: 20%;
  }
}

/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/
/*---@@@ Modul Box Style @@@---*/
/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/

.ModulBoxTDStyle {
  font-family: Arial;
  font-size: 9pt;
  font-weight: bold;

  color: #fff;
}

.ModulTitle {
  font-family: Arial;
  font-size: 12pt;
  font-weight: bold;
  font-style: normal;

  text-align: center;

  color: #102996;
}

.ModulTextBig {
  font-family: Arial;
  font-size: 13pt;
  font-weight: bold;
  font-style: normal;

  color: #102996;
}

.ModulTitle1 {
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;

  color: #001389;
}

.ModulTextNormal {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  color: #5c627a;
}

.ModulTextSmall {
  font-family: Arial;
  font-size: 8pt;
  font-weight: normal;
  font-style: normal;

  color: #5c627a;
}

/*--@@@@@@@@@@@@@@@@@@@@@@--*/
/*---@@@ Footer Style @@@---*/
/*--@@@@@@@@@@@@@@@@@@@@@@--*/

.Copyright {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  color: #5b6378;
}

a.Copyright {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  text-decoration: none;

  color: #5b6378;
}

/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/
/*---@@@ Products Style @@@---*/
/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/

.ProductTitle {
  font-family: Arial;
  font-size: 12pt;
  font-weight: bold;
  font-style: normal;

  color: #0077b4;
}

.ProductSalePrice {
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;

  color: #0077b4;
}

.ProductMarketPrice {
  font-family: Arial;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;

  color: #8e4a3b;
}

.ProductOnSale {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  color: #0077b4;
}

.ProductTextBig {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  text-decoration: none;

  color: #5c627a;
  &:hover {
    font-family: Arial;
    font-size: 9pt;
    font-weight: normal;
    font-style: normal;

    text-decoration: none;

    color: #112a97;
  }
}

.ProductTextNormal {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  color: #5c627a;
}

.ProductTextNormal1 {
  font-family: Arial;
  font-size: 9pt;
  font-weight: bold;
  font-style: normal;

  color: #fff;
}

.ProductTextSmall {
  font-family: Arial;
  font-size: 7pt;
  font-weight: normal;
  font-style: normal;

  color: #5c627a;
}

/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/
/*--@@@ For this template @@---*/
/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/

.grayborder {
  /*border:0.2em double #cccccc;
  background-color:#D0E6F4;
  padding:2px;*/
}

.membertitle {
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;

  color: #fff;
  background: #63acdc url(../img/membertitle.gif) top left no-repeat;
}

.prodTableTitle {
  background-color: #d0e6f4;
}

table .print {
  border-collapse: collapse;

  border: 1px solid black;
  th {
    border-collapse: collapse;

    border: 1px solid black;
    background-color: #fff;
  }
  td {
    border-collapse: collapse;

    border: 1px solid black;
  }
}

.HomePage {
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  padding: 2px;

  text-align: right;

  color: #5c627a;
  background-color: #fff;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.inputBox {
  font-family: Arial;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;

  color: #5c627a;
  border: 1px solid #a7bcd1;
}

.inputBox2 {
  font-family: Arial;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;

  color: #5c627a;
  border: 1px solid #9fb5cc;
  background-color: #f0f6fb;
}

.topMenu {
  font-family: Arial;
  font-size: 8pt;
  font-weight: normal;
  font-style: normal;

  padding-right: 2px;
  padding-left: 2px;

  text-decoration: none;

  color: #588d01;
}

a.topMenu {
  font-family: Arial;
  font-size: 8pt;
  font-weight: normal;
  font-style: normal;

  cursor: pointer;
  cursor: hand;
  text-decoration: none;

  color: #588d01;
  &:hover {
    font-family: Arial;
    font-size: 8pt;
    font-weight: normal;
    font-style: normal;

    text-decoration: none;

    color: #828fa4;
  }
}

.bottomText {
  font-family: Arial;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;

  text-decoration: none;

  color: #fff;
  &:hover {
    font-family: Arial;
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;

    text-decoration: none;

    color: #d9e8f4;
  }
}

.bottomUnitTitle {
  font-family: Arial;
  font-size: 13pt;
  font-weight: bold;
  font-style: normal;

  color: #333c53;
}

.bottomTextSmall {
  font-family: Arial;
  font-size: 8pt;
  font-weight: normal;
  font-style: normal;

  color: #5c627a;
}

a.bottomTextSmall {
  font-family: Arial;
  font-size: 8pt;
  font-weight: normal;
  font-style: normal;

  text-decoration: none;

  color: #5c627a;
  &:hover {
    font-family: Arial;
    font-size: 8pt;
    font-weight: normal;
    font-style: normal;

    text-decoration: none;

    color: #5c627a;
  }
}

table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;

  color: #5c627a;
}

a {
  color: #5c627a;
  &:hover {
    color: #102995;
  }
}

.subMenu {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;
  line-height: 1;

  cursor: pointer;
  cursor: hand;
  text-decoration: none;

  color: #4f5d7d;
}

.subMenuOn {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;
  line-height: 1;

  cursor: pointer;
  cursor: hand;
  text-decoration: none;

  color: #02138b;
}

.homeDesc {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;
  line-height: 11pt;

  color: #505c7e;
}

.homeLinks {
  font-family: Arial;
  font-size: 9pt;
  font-weight: bold;
  font-style: normal;

  text-decoration: none;

  color: #112995;
}

.greenTitle {
  font-family: Arial;
  font-size: 11pt;
  font-weight: bold;
  font-style: normal;

  color: #006b6e;
}

.greenText {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  color: #006b6e;
}

.inputBoxTxt {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  width: 241px;
  height: 22px;

  color: #5c627a;
  border: 1px solid #7193b3;
  background-color: #f0f6fb;
}

.inputBoxTxt1 {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  color: #5c627a;
  border: 1px solid #7193b3;
  background-color: #f0f6fb;
}

.greenLink {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  color: #006b6e;
}

.tbl ul,
li,
table ul,
li {
  margin-right: 0;

  list-style-image: url('../img/table_bullet.gif');
}

a {
  color: #0e2a94;
  &:hover {
    color: #4e5c7f;
  }
}

.inputBox1 {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  width: 159px;
  height: 22px;

  color: #647190;
  border: 1px solid #7193b3;
}

.comboBox {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  height: 22px;

  color: #647190;
  background-color: #f0f6fb;
}

.lightGrayText {
  font-family: Arial;
  font-size: 11pt;
  font-weight: bold;
  font-style: normal;

  color: #cacaca;
}

.blueLink {
  font-family: Arial;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  text-decoration: none;

  color: #4e5d7f;
}

.homeTitles {
  font-family: Arial;
  font-size: 11pt;
  font-weight: bold;
  font-style: normal;

  color: #0f2896;
}

ul,
li {
  margin: 0;

  list-style-position: outside;
  list-style-image: url('../img/blue_bullet1.gif');
}

.siteMap {
  margin-right: 20px;
}

.ModulTextNormal a {
  text-decoration: underline;

  color: #071c8d;
  &:hover {
    text-decoration: underline;

    color: #4e5c7f;
  }
}

.HTMLIndex {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  font-style: normal;

  text-decoration: none;

  color: #4c738d;
}

.popupSearch {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  width: 117px;
  height: 16px;

  color: #4c738d;
  border-top: 1px solid #a4b1b9;
  border-right: 1px solid #a4b1b9;
  border-bottom: 1px solid #a4b1b9;
  border-left: none;
}

.tdOver {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  text-decoration: none;

  color: #1e3296;

  direction: rtl;
}

.tdOut {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  font-style: normal;

  text-decoration: none;

  color: #4c738d;

  direction: rtl;
}

#suggest {
  position: absolute;

  width: 252px;

  border: 1px solid #ccf;
  background-color: #fff;
  div {
    display: block;
    overflow: hidden;

    width: 250px;
    padding: 1px;

    white-space: nowrap;
    &.select {
      color: #fff;
      background-color: #36f;
    }
    &.over {
      background-color: #9cf;
    }
  }
}

.printKit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  text-decoration: none;

  color: #4e5d7f;

  direction: rtl;
}

.printKitText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  height: 70px;

  text-decoration: none;

  color: #4e5d7f;
  border-top: top;
  background-image: url('../img/kit color.jpg');
  background-repeat: repeat-x;

  direction: rtl;
}

.completeItemsasa {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  text-decoration: none;

  color: #5c627a;

  direction: rtl;
}

.comboboxcontrol-fly-container {
  border: 1px solid #b7c4d5;
  background-color: white;
  .comboboxcontrol-fly-item {
    cursor: pointer;
  }
  .comboboxcontrol-fly-item-over {
    color: #fff !important;
    background-color: #36f !important;
  }
  .comboboxcontrol-fly-item-selected {
    color: #fff;
    background-color: #b7c4d5;
  }
}

.paggingKit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  text-decoration: none;
  text-decoration: none;

  color: #8182aa;

  direction: rtl;
}

.paggingKitSelectd {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;

  text-decoration: none;
  text-decoration: none;

  color: #102995;

  direction: rtl;
}

.h1home {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  padding-left: 8px;

  color: #123972;
}

.ModulTitlemovies {
  font-family: Arial;
  font-size: 11pt;
  font-weight: bold;
  font-style: normal;

  padding-left: 8px;

  text-align: left;

  color: #fff;
}

.ModulTitlemoviessubtotofs {
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  text-align: right;

  color: #353d54;
}

.ModulTitlemoviessub {
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;

  text-align: right;

  color: #122793;
}

.galleryflv {
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  text-align: right;

  color: #4e5d7f;
}

.assutaEmail {
  background: url(../img/assutaeftk.gif);
  background-repeat: no-repeat;
}

.assutaCall {
  background: url(../img/call_b.jpg);
  background-repeat: no-repeat;
}

.greenButton {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;

  height: 29px;

  cursor: pointer;
  text-align: center;

  color: #fff;
  background: url('../img/green_tab.jpg');
}

.blueButton {
  font-family: Arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;

  height: 29px;

  cursor: hand;
  text-align: center;

  color: #243158;
  background: url('../img/green_tab.jpg');
}

.sample_attach_a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  text-decoration: none;

  color: #5c627a;
  &:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    text-decoration: none;

    color: #00128a;
  }
}

.blueToptext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;

  color: #102996;
  a {
    color: #102996;
  }
}

.blueToptextB {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;

  color: #102996;
}

/****** Departments menu *********/

.bottombackg {
  background: #e5eff6 url('../img/department_bg.jpg') bottom no-repeat;
}

.DepartmentsMenu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  width: 185px;
  height: 34px;

  cursor: pointer;

  color: #102996;
  background: #dae8f2 url('../img/department_bg1.jpg') top left no-repeat;
  a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;

    cursor: pointer;
    text-decoration: none;

    color: #102996;
  }
}

.DepartmentsMenuOver {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  width: 185px;
  height: 34px;

  color: #102996;
  background: #294696 url('../img/department_bg_over.jpg') top left no-repeat;
}

.DepartmentsMenuOver1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  width: 185px;
  height: 34px;

  color: #102996;
  background: #294696 url('../img/department_bg_over1.jpg') top left no-repeat;
}

.DepartmentsMenuOver a,
.DepartmentsMenuOver1 a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  text-decoration: none;

  color: #fff;
}

.DepartmentsMenuLevel2 {
  background-color: #cbdeed;
  .level2 {
    display: block;

    padding-bottom: 5px;
    padding-left: 18px;

    color: #0f2a95;
    background: url('../img/level2_arrow.gif') top left no-repeat;
  }
  .level2_selected {
    display: block;

    padding-bottom: 5px;
    padding-left: 18px;

    color: #030f40;
    background: url('../img/level2_arrow.gif') top left no-repeat;
  }
  .level2:hover {
    color: #030f40;
  }
}

/********* ContactLeftForm *********/

.ContactLeftFormTbl {
  border-bottom: 1px solid #9ea9be;
  background: url('../img/contact_bg.gif') top left repeat-y;
}

.ContactLeftFormTitle {
  width: 230px;
  height: 124px;

  background: url('../img/contact_top_bg.jpg') top left no-repeat;
}

.ContactLeftFormInnerTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;

  width: 170px;
  padding-top: 20px;
  padding-left: 30px;

  color: #102996;
}

.ContactLeftFormDesc {
  width: 170px;
  padding-top: 20px;
  padding-left: 30px;
}

.ContactLeftFormText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;

  color: #5a637b;
}

.ContactLeftFormDesc {
  input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;

    width: 170px;

    color: #5a637b;
    border: 1px solid #7193b3;
    background-color: #f0f6fb;
  }
  div {
    padding-top: 5px;
  }
  textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;

    width: 170px;
    height: 88px;

    color: #5a637b;
    border: 1px solid #7193b3;
    background-color: #f0f6fb;
  }
}

.ContactLeftFormBlue {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  color: #102996;
}

/********* bottom form **********/

.bottomInputBox {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  width: 156px;

  color: #5a637b;
  border: 1px solid #7193b3;
  background-color: #f0f6fb;
}

.bottomInputBoxTextarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  width: 358px;
  height: 125px;

  color: #5a637b;
  border: 1px solid #7193b3;
  background-color: #f0f6fb;
}

.bottomInputBoxTextarea-new {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  width: 95%;
  height: 125px;

  color: #5a637b;
  border: 1px solid #7193b3;
  background-color: #f0f6fb;
}

.ContactBottomTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;

  width: 170px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;

  color: #102996;
}

.backToTop {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  text-decoration: none;

  color: #5b627a;
}

/********* home page ***********/

.homeBg {
  height: 100%;
  padding-top: 20px;

  background: #eef5fa url('../img/home_bg.jpg') top left repeat-x;
}

.homeBlueLink {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;

  color: #071c8d;
}

.sendbLink {
  font-size: 13px;
  font-weight: bold;

  width: 90px;
  height: 25px;
  padding: 2px 0 2px 5px;

  text-decoration: none;

  color: white;
  a {
    font-size: 13px;
    font-weight: bold;

    width: 90px;
    height: 25px;
    padding: 2px 0 2px 5px;

    text-decoration: none;

    color: white;
    &:hover {
      font-size: 13px;
      font-weight: bold;

      width: 90px;
      height: 25px;
      padding: 2px 0 2px 5px;

      text-decoration: none;

      color: white;
    }
  }
}



.fade1 {
  opacity: .9;

  filter: alpha(opacity = 90);
}

.fade2 {
  opacity: .8;

  filter: alpha(opacity = 80);
}

.fade3 {
  opacity: .6;

  filter: alpha(opacity = 60);
}

.fade4 {
  opacity: .5;

  filter: alpha(opacity = 50);
}

.fade5 {
  opacity: .2;

  filter: alpha(opacity = 20);
}

div#divBanner {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;

  width: 0;
  height: 0;
}

/* Wrap the following in a 'conditional comment' if you like.
  It won't make it more valid. */

* html div#divBanner {
  position: absolute;
  top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop : document.body.scrollTop);
  top: 100px;
  left: 0;
}

/*@@@CSS for Captcha **************************************************************************/

div.input {
  margin: 7px 0;
}

legend {
  padding: 5px;

  color: #999;
}

label {
  display: block;
  float: left;

  width: 85px;
  padding-right: 5px;

  text-align: right;
}

input {
  &.bottominputbox {
    width: 105px;
  }
  &.textboxSmall {
    width: 40px;
  }
}

#CodeIncorrectLabel,
#CodeIncorrectLabel_side {
  color: Red;
}

#CodeCorrectLabel {
  color: Green;
}

#PromptDiv {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

#CaptchaDiv {
  display: inline;

  width: 165px;
  height: 39px;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

#CaptchaImage {
  display: inline;
  float: left;

  width: 137px;
  height: 39px;
  margin: 0;
  padding: 0;
}

#CaptchaIcons {
  display: inline;
  float: right;

  width: 26px;
  height: 39px;
  margin: 0;
  padding: 0;

  text-align: left;
}

td#CaptchaIcons {
  padding-left: 3px;
}

#CaptchaIcons img {
  margin: 0;
  padding: 0;
  padding-bottom: 3px;

  border: 0;
}

.placeholder {
  visibility: hidden;

  width: 0 !important;
  height: 0 !important;
}

/*@@@CSS for Captcha **************************************************************************/

.AssutaMainTitle {
  font-size: 20px;
  font-weight: bold;

  padding-top: 13px;
  padding-right: 20px;

  white-space: nowrap;

  color: #102896;
  > {
    h1,
    h4 {
      font-size: 20px;
      font-weight: bold;

      white-space: nowrap;

      color: #102896;
    }
  }
}
.header-container {
  height: 49px;
  padding-top: 7px;

  vertical-align: bottom;
}
.blueHeaderText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;

  color: #122898;
}

.GreyHeaderText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;

  text-decoration: none;

  color: #6b6b6b;
  a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;

    text-decoration: none;

    color: #6b6b6b;
  }
}

.asterics {
  font-size: 14px;
  font-weight: bold;

  padding-right: 5px;

  color: #d10705;
}

/********* FeedbackLeftSide *********/

.Feedbacktbl {
  width: 230px;
  height: 391px;
  padding: 10px 0 10px 10px;

  border: 1px solid #9ea9bd;
  background: #fff;
}

.FeedbackTitle {
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;

  padding-bottom: 8px;

  color: #112b9a;
}

.FeedbackTopText,
.FeedbackCaption {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  line-height: 17px;

  padding-bottom: 2px;

  color: #666c84;
}

.FeedbackButton {
  padding: 20px 0 10px;
}

.FeedbackPaleBlueText,
.FeedbackGreenText,
.FeedbackBlueText {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;

  color: #5b627c;
}

.FeedbackGreenText {
  color: #7db51c;
}

.FeedbackBlueText {
  a,
  a:hover {
    text-decoration: none;

    color: #112995;
  }
}

.FeedbackSeparator {
  padding-top: 15px;
}

.FeedbackSeparator1 {
  padding-top: 5px;
}

.FeedbackCaption {
  color: #707589;
}

.FeedbackInfo {
  display: inline;

  padding: 10px 0 0 10px;

  cursor: pointer;
  vertical-align: middle;
}

.FeedbackFormInputs {
  padding: 3px 0 10px;
}

.FeedbackCaption a {
  text-decoration: underline;

  color: #112995;
  &:hover {
    text-decoration: underline;

    color: #112995;
  }
}

.FeedbackInput {
  width: 175px;
  height: 20px;
}

.FeedbackRemark {
  font-size: 11px;
  font-weight: normal;
  line-height: 15px;

  font-color: #8c8fa0;
}

.FeedbackInfoBlock {
  width: 220px;
  padding: 10px;

  border: 1px solid #7193b3;
  background: #f9fdff;
}

.departmentmenusep {
  height: 34px;
  margin: auto;

  background: url('../img/department_separator.gif') bottom center no-repeat;
}

.paddinglef15 {
  padding-left: 15px;
}

.paddinglef18 {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 18px;
}

.arrowright {
  background: url('../img/arrow3.gif') right center no-repeat;
  .HTMLtitle {
    padding-right: 8px;
  }
}

.paddingL5R7 {
  padding-right: 7px;
  padding-left: 5px;
}

.submenusep {
  height: 42px;

  background: url('../img/submenu_sep.gif') top right no-repeat;
}

.bottomText .sepperator {
  width: 24px;

  background: url('../img/dotnew.gif') center center no-repeat;

  size: 0;
}

.bottomfooterzone {
  width: 100%;
  height: 30px;

  background: url('../img/bottom_stripe.jpg') top left repeat-x;
}

.topMenu {
  padding-right: 6px;
  padding-left: 6px;
}

.topmenuh {
  .separator {
    background: url('../img/betbutton1.gif') right no-repeat;
  }
  a {
    text-decoration: none;
  }
}

.centerzone {
  width: 535px;
  padding-right: 30px;
}

.paddingbottom20 {
  padding-bottom: 20px;
}

.paddingbottom10 {
  padding-bottom: 10px;
}

.SM li a {
  padding: 10px;

  text-align: left;
  &:link {
    padding: 10px;

    text-align: left;
  }
}

.MM > li > a {
  margin: 0;
  padding: 0 0 0 0;
  &:link {
    margin: 0;
    padding: 0 0 0 0;
  }
}

#Menu1 > li > a {
  color: #fff;
}

.mmo {
  color: #a4e438;
}

.header_left_div {
  float: left;

  width: 711px;
  height: 85px;
  margin-bottom: 3px;
  /* height: 65px; */
}

.clear_both {
  clear: both;
}

.header_right_div {
  float: left;

  width: 299px;
  height: 49px;
  margin-top: 38px;
  margin-bottom: 3px;

  background: url('../img/contact_bg.jpg') top right no-repeat;
  .contact_title {
    font-size: 16px;
    font-weight: bold;

    float: left;

    width: 110px;
    padding-top: 7px;
    padding-left: 12px;

    text-align: center;

    color: #fff;
    a {
      text-decoration: none;

      color: #fff;
    }
  }
  .contact_phone {
    font-size: 17px;
    font-weight: bold;

    float: left;

    width: 150px;
    margin-left: 5px;
    padding-top: 7px;
    padding-top: 16px;
    padding-left: 12px;

    text-align: center;

    color: #7db51c;
  }
}

.search_input {
  font-size: 12px;

  width: 104px;
  height: 16px;
  padding-right: 3px;

  color: #8dbe2f;
  border-top: 1px solid #a7bcd1;
  border-right: none;
  border-bottom: 1px solid #a7bcd1;
  border-left: 1px solid #a7bcd1;
}

/*
videogalleryzone videogalleryzone
*/

.videogalleryzone {
  .videozone {
    margin-top: 12px;
    margin-bottom: 12px;
    /*width:633px;*/

    text-align: center;
  }
  .sel-item-name {
    font-size: 13pt;

    color: #001283;
  }
  .uppercontent {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #609912;
    background-color: #e9f2fb;
  }
  .currentpage-category {
    font-size: 14pt;
    font-weight: bold;

    margin-top: 6px;

    color: #001283;
  }
  .imgdiv {
    overflow: auto;

    height: auto;

    border: 0 solid red;
  }
  .itemimg {
    /*border:2px solid #fff;*/
    border: 2px solid #bbbdbf;
  }
  a.list-item-name {
    font-size: 11pt;
    font-weight: normal;

    cursor: pointer;
    text-decoration: none;

    color: #00007e;
  }
  .vedio-searchpannel {
    margin-bottom: 4px;

    text-align: right;
  }
  .bottomsep {
    font-size: 1px;

    height: 2px;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #c8d9e7;
  }
  .topsep {
    font-size: 1px;
    line-height: 8px;

    height: 8px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c8d9e7;
  }
  .subtitle {
    font-size: 15pt;
    font-weight: normal;

    margin-bottom: 3px;

    color: #001283;
  }
  .list-content {
    padding-top: 16px;
  }
  .topcategory {
    margin-right: 22px;
    margin-left: 22px;
  }
}

.videocontntzone {
  margin-left: 30px;
}

.vedio-searchpannel .content {
  float: right;

  text-align: right;
}

table.video-gallery-loby {
  width: 630px;
}

.video-gallery-loby {
  a {
    font-size: 12pt;
    font-weight: bold;

    text-decoration: none;

    color: #000073;
  }
  .headercube {
    border-bottom: 2px solid #609912;
  }
  .cube1 {
    border-right: 1px solid #baccdf;
    border-bottom: 1px solid #baccdf;
  }
  .cube2 {
    border-bottom: 1px solid #baccdf;
    border-left: 1px solid #baccdf;
  }
  .cube3 {
    border-top: 1px solid #baccdf;
    border-right: 1px solid #baccdf;
  }
  .cube4 {
    border-top: 1px solid #baccdf;
    border-left: 1px solid #baccdf;
  }
  .subtitle {
    font-size: 15pt;
    font-weight: normal;

    margin-bottom: 3px;

    color: #001283;
  }
}

.searchresults a {
  font-weight: normal;
}

/* pagging  */

.pagging-bg {
  height: 18px;
  margin: 5px auto 0;
  padding-top: 5px;

  text-align: center;

  background-color: #e1edfb;
}

.pagging-bg1 {
  width: 365px;
}

.pagging-bg2 {
  width: 305px;
}

.pagging-bg3 {
  width: 365px;
}

.pagging-bg {
  > div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;

    float: left;

    padding: 0 7px;

    color: #1d4084;
    border-left: 1px solid white;
  }
  div.pagging-last {
    border-left-width: 0;
  }
}

.pagging-current {
  color: #204188;
  background-color: #b6cee8;
}

.pagging-bg a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

a.pagging-dummy {
  cursor: default;

  color: silver;
  &:hover {
    cursor: default;

    color: silver;
  }
}

.note-small {
  font-size: 11px;
}

.nivo-nextNav,
.nivo-prevNav {
  font-size: 0;
}

.PanelTable .HTMLtitle {
  font-size: 12px;
  font-weight: normal;

  color: #5c627a;
}

/*ALEXEY*/

#new_contact_form,
#new_bottom_contact_form,
#new_side_contact_form {
  margin-bottom: 20px;
}

#new_contact_form p,
#new_bottom_contact_form p,
#new_side_contact_form p {
  margin: 0;
  padding: 0;
}

select {
  &#agents {
    display: inline-block;
    float: left;

    width: 175px;
    padding: 5px;

    color: #000;
    border: 1px solid #bcbdbf;

    direction: ltr;
  }
  &#bottom_agents {
    display: inline-block;
    float: left;

    width: 175px;
    padding: 5px;

    color: #000;
    border: 1px solid #bcbdbf;
    background-color: #f0f6fb;

    direction: ltr;
  }
}

#new_contact_form #desc,
#new_bottom_contact_form #bottom_desc,
#new_side_contact_form #desc {
  position: relative;

  display: inline-block;
  float: right;
  overflow-x: hidden;
  overflow-y: auto;

  width: 166px;
  height: 125px;
  margin-right: 20px;
  padding: 5px 7px;

  color: #000;
  border: 1px solid #bcbdbf;
}

#new_bottom_contact_form {
  text-align: left;
}

#new_side_contact_form {
  #desc {
    float: none;

    width: 160px;
    margin-top: 10px;
    margin-right: 0;
  }
  .new_form_arrow {
    position: relative;
  }
}

#new_contact_form .new_form_arrow,
#new_bottom_contact_form .new_form_arrow,
#new_side_contact_form.new_form_arrow {
  position: relative;

  height: 140px;

  background: url('../img/new_contact_arrow.png') 192px center no-repeat;
}

#new_contact_form #rank,
#new_bottom_contact_form #bottom_rank {
  position: absolute;
  z-index: 100;
  top: -20px;
  right: 10px;

  width: 28px;
  height: 43px;
}

#new_side_contact_form #rank {
  position: absolute;
  z-index: 100;
  top: 35px;
  right: 26px;

  width: 28px;
  height: 43px;
}

#bottom_rank.gold,
#rank.gold,
#agent_rank.gold {
  position: absolute;
  z-index: 100;
  top: -15px;
  right: -10px;

  width: 28px;
  height: 43px;

  background: url('../img/rank_gold.png') top left no-repeat;
}

#bottom_rank.silver,
#rank.silver,
#agent_rank.silver {
  position: absolute;
  z-index: 100;
  top: -15px;
  right: -10px;

  width: 28px;
  height: 43px;

  background: url('../img/rank_silver.png') top left no-repeat;
}

#bottom_rank.bronze,
#rank.bronze,
#agent_rank.bronze {
  position: absolute;
  z-index: 100;
  top: -15px;
  right: -10px;

  width: 28px;
  height: 43px;

  background: url('../img/rank_bronze.png') top left no-repeat;
}

.popup {
  font-size: 14px;

  position: relative;

  width: 510px;
  height: auto;
  margin: auto;
  padding: 22px;

  color: #000;
  background: #fff;
  h2 {
    font-size: 28px;
    font-weight: normal;

    padding-bottom: 15px;

    color: #102995;
  }
  .content_left {
    display: inline-block;

    width: 340px;
  }
  .content_right {
    position: relative;

    display: inline-block;

    width: 126px;
    margin-left: 39px;

    vertical-align: top;
    img {
      width: 126px;
      height: auto;

      vertical-align: top;
    }
  }
  .rank {
    position: absolute;
    right: -12px;
    bottom: -40px;

    width: 45px;
    height: 70px;
  }
  .gold {
    position: absolute;
    right: -12px;
    bottom: -40px;

    width: 45px;
    height: 70px;

    background: url('../img/rank_gold_big.png') top left no-repeat;
  }
  .silver {
    position: absolute;
    right: -12px;
    bottom: -40px;

    width: 45px;
    height: 70px;

    background: url('../img/rank_silver_big.png') top left no-repeat;
  }
  .bronze {
    position: absolute;
    right: -12px;
    bottom: -40px;

    width: 45px;
    height: 70px;

    background: url('../img/rank_bronze_big.png') top left no-repeat;
  }
}

/* doctors lobby */

.doctors_lobby_item {
  font-size: 14px;

  display: block;

  width: 127px;
  min-height: 190px;
  margin: 0 19px 25px 0;

  cursor: pointer;
  text-align: center;

  color: #102896;
  img {
    margin-bottom: 10px;
  }
  h3 {
    font-size: 14px;
    font-weight: normal;

    padding: 0 10px 0 10px;

    color: #102896;
  }
  &.last {
    margin-right: 0;
  }
}

/* relax page header -24-12-13*/

.header_bg {
  height: 46px;

  background: url('../img/header_stripe_bg.jpg') top right repeat-x;
  .cat_name {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13pt;
    font-weight: bold;
    font-style: normal;

    padding-right: 15px;

    color: #112996;
  }
}

td.CenterPanel.relax_center {
  padding-top: 0;
  padding-right: 41px;
}

.contact_relax_box {
  font-family: Arial;

  width: 657px;
  min-height: 68px;
  margin-bottom: 35px;
  padding-top: 10px;
  padding-left: 12px;

  border-top: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-bottom: 2px solid #6ca524;
  border-left: 1px solid #d2d2d2;
  background: url('../img/contact_relax_bg.jpg') top right repeat-x;
  .title {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;

    padding-bottom: 10px;

    color: #112996;
  }
  .field_title {
    font-size: 12px;

    float: left;

    padding: 4px 5px 0 0;

    color: #112996;
  }
  .input_box {
    font-family: Arial;
    font-size: 13px;

    float: left;

    width: 110px;
    height: 20px;
    margin-right: 10px;
    padding: 2px;

    color: #112996;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    &.last {
      margin-left: 10px;
    }
  }
}

.relax_right_content {
  float: left;

  width: 445px;
  &.wide {
    width: 670px;
  }
}

.relax_left_content {
  float: right;

  width: 188px;
}

.relax_left_menu_title {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;

  padding-bottom: 10px;

  color: #112996;
}

.relax_left_menu {
  width: 184px;
  margin: 0;
  margin-bottom: 15px;
  padding: 1px;

  list-style-type: none;
  list-style-image: none;

  border: 1px solid #d3d3d3;
  li {
    width: 184px;
    min-height: 36px;

    list-style-image: none;

    border-bottom: 1px solid #fff;
    background: #e6e6e6 url('../img/relax_menu_bg.jpg') top right repeat-x;
    &.last {
      border-bottom: none;
    }
    a {
      font-size: 14px;
      line-height: 18px;

      display: block;

      width: 144px;
      min-height: 16px;
      padding: 10px 30px 10px 10px;

      text-decoration: none;

      color: #666;
      background: url('../img/relax_bullet.png') 162px 12px no-repeat;
      &:hover {
        color: #112996;
      }
    }
  }
}

.relax_left_box {
  width: 184px;
  min-height: 75px;
  margin: 0;
  padding: 1px;

  text-align: center;

  border: 1px solid #d3d3d3;
  background-color: #eee;
  .title {
    font-size: 14px;
    line-height: 18px;

    padding: 7px 5px 5px 5px;

    color: #666;
  }
  .phone_num {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;

    padding: 0 5px 5px 5px;

    color: #112996;
  }
  .email {
    font-size: 14px;
    line-height: 16px;

    display: block;

    padding: 0 5px 7px 5px;

    text-decoration: none;

    color: #112996;
    &:hover {
      text-decoration: underline;
    }
  }
}

.relax_gallery {
  margin: 30px 0 90px 0;
}

/* facebook box */

.fb-like-box {
  width: 228px;
  margin: 0 auto;
  margin-left: 20px;

  border: 1px solid #9ea9bd;
  background-color: #fff;
}

.fb-like-box1 {
  width: 190px;

  border: 1px solid #9ea9bd;
}

/* download application page */
/* download application page */

.wide-page-wrapper {
  font-family: Arial;

  width: 1010px;
  margin: 0 auto;
  .wide-page-content {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.app_bg {
  position: relative;

  width: 1010px;
  min-height: 673px;
  /* background: url('images/app-download/main_bg.jpg') top right no-repeat; */

  background-size: cover;
  .inner-content {
    position: relative;
    left: 60px;

    width: 920px;
    min-height: 400px;
    padding-top: 140px;
    .img-div {
      position: absolute;
      z-index: 10;
      left: 577px;

      width: 367px;
      height: 400px;
    }
    .content-wrapper {
      position: absolute;
      top: 195px;

      width: 587px;
      min-height: 345px;
      .content-box {
        position: relative;

        width: 587px;
        min-height: 245px;

        border-radius: 5px;
        /* background: url('images/app-download/transparent-bg.png'); */
        .content {
          padding: 20px;
          h1 {
            font-size: 20px;
            font-weight: bold;
            line-height: 22px;

            padding-bottom: 5px;

            color: #3a3a3a;
          }
          .subtitle {
            font-size: 18px;
            line-height: 20px;

            padding-bottom: 5px;

            color: #3a3a3a;
          }
          .desc {
            font-size: 12px;
            line-height: 16px;

            color: #676767;
          }
        }
      }
      .comment-logo {
        font-size: 22px;

        position: relative;

        min-height: 70px;
        padding-top: 10px;
        padding-left: 20px;

        color: #222;
        .logos {
          padding-top: 10px;
          .logo {
            float: left;

            margin-right: 15px;
          }
        }
      }
    }
  }
}

/* new homepage */

.homepage-slider {
  position: relative;

  float: left;

  width: 660px;
  height: 360px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 100%;
  }
  .owl-stage-outer {
    height: 360px;
  }
  .owl-item {
    height: 360px;
    .item {
      height: 360px;
    }
  }
  h4 {
    line-height: 1.6;

    position: absolute;
    z-index: 1;
    top: 200px;
    left: 350px;

    width: 40%;
    padding: 10px;

    background-color: #fff;
    background-color: rgba(255, 255, 255, .7);
  }
  .owl-controls {
    position: absolute;
    z-index: 2;
    bottom: 20px;

    height: 10px;
    .owl-dots {
      padding-left: 30px;
    }
    .owl-dot {
      display: inline-block;

      width: 20px;
      height: 20px;
      margin-right: 10px;

      border: 1px solid #112996;
      border-radius: 50%;
      background-color: #112996;
      &.active {
        background-color: #fff;
      }
    }
  }
}

.homepage-form {
  float: left;

  width: 315px;
  margin-top: 20px;
}

.home-footer {
  padding-top: 18px;
}

.home-left-panel {
  float: left;

  width: 240px;
  padding-right: 20px;
  padding-bottom: 30px;

  background-color: #f0f5fb;
  .menu-div {
    padding-bottom: 20px;
  }
}

.home-center-content {
  float: left;

  width: 750px;
  padding-bottom: 30px;

  background-color: #f0f5fb;
}

.home-right-content {
  float: left;

  width: 230px;
  padding-bottom: 30px;
}

.home-wide-div {
  width: 990px;
  margin-left: 20px;
}

.home-contact-right {
  width: 315px;
  height: 360px;
  margin-bottom: 30px;

  babkground-color: #fcfafb;
  .frm-title {
    width: 315px;
    height: 50px;

    text-align: center;

    background-color: #102894;
    h3 {
      font-size: 20px;
      font-weight: bold;

      padding-top: 15px;

      color: #fff;
    }
  }
  .frm-content {
    width: 283px;
    height: 290px;
    padding: 20px 15px 0 15px;

    border: 1px solid #dbdbdb;
    background-color: #fcfafb;
    label {
      font-size: 13px;

      display: block;
      float: left;

      width: 111px;
      padding-top: 7px;

      text-align: left;

      color: #000;
      &.wide {
        float: none;

        width: 280px;
        padding-bottom: 5px;
      }
    }
    .input-text {
      font-size: 13px;

      float: left;

      width: 162px;
      height: 25px;
      margin-bottom: 14px;

      color: #000;
      border: 1px solid #7193b3;
      background-color: #fcfafb;
    }
    .txt-msg {
      width: 275px;
      height: 65px;
      margin-bottom: 20px;

      border: 1px solid #7193b3;
      background-color: #fcfafb;
    }
    .submit-btn {
      float: right;
    }
  }
}

/* home movies slider */

.home-swiper2 {
  font-family: Tahoma;

  position: relative;

  float: none;

  width: 470px;
  height: 276px;
  margin-bottom: 20px;
  padding: 1px 0 1px 0;

  border: 1px solid #7588c4;

  direction: ltr;
  .swiper-container {
    width: 470px;
    height: 276px;
    .content-slide {
      padding: 0;
    }
  }
  .pagination2 {
    position: absolute;
    z-index: 1000;
    top: 250px;
    left: 0;

    width: 468px;

    text-align: right;

    direction: rtl;
    &.hidden {
      display: none;
    }
  }
  .swiper-pagination-switch {
    display: inline-block;

    width: 16px;
    height: 16px;
    margin: 0 3px;

    cursor: pointer;

    border-radius: 10px;
    background: #112996;
    box-shadow: 0 1px 2px #555 inset;
  }
  .swiper-active-switch {
    background: #fff;
  }
}

.desc_rank {
  position: relative;

  float: right;

  width: 200px;
  height: 187px;

  border: 1px solid #5794bf;
}

#agent_agents {
  float: left;
}
/*
 * jQuery Nivo Slider v2.6
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license
 *
 * March 2010
 */

/* The Nivo Slider styles */

.nivoSlider {
  position: relative;

  margin-bottom: 10px;
  /* background: url('images/loading.gif') no-repeat 50% 50%; */
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  a.nivo-imageLink {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    border: 0;
  }
}

/* If an image is wrapped in a link */

/* The slices and boxes in the Slider */

.nivo-slice {
  position: absolute;
  z-index: 5;

  display: block;

  height: 100%;
}

.nivo-box {
  position: absolute;
  z-index: 5;

  display: block;
}

/* Caption styles */

.nivo-caption {
  position: absolute;
  z-index: 8;
  right: 7px;
  bottom: 38px;
  /* Overridden by captionOpacity setting */

  width: 250px;
  padding-bottom: 5px;

  opacity: .8;
  color: #000;
  background: #fff;
  p {
    margin: 0;
    padding: 5px;
  }
  a {
    display: inline !important;
  }
}

.nivo-html-caption {
  display: none;
}

/* Direction nav styles (e.g. Next & Prev) */

.nivo-directionNav a {
  position: absolute;
  z-index: 9;
  top: 45%;

  cursor: pointer;
}

.nivo-prevNav {
  left: -15px;

  text-indent: -9999px;
}

.nivo-nextNav {
  right: 0;

  text-indent: -9999px;
}

.nivo-controlNav {
  position: absolute;
  z-index: 12;
  bottom: 10px;
  left: 20px;
  /* margin-left:-40px;  Tweak this to center bullets */
  a {
    line-height: 20px;

    display: block;
    float: left;

    width: 20px;
    height: 21px;
    margin-right: 7px;

    cursor: pointer;
    text-align: center;

    color: #1d3e83;
    border: 0;
    /* background: url('images/bullet_new.png') no-repeat; */
    &.active {
      color: #fff;
      background-position: 0 -21px;
    }
  }
}

/* Control nav styles (e.g. 1,2,3...) */

/**ornit**/

.nivo-caption_title {
  font-size: 18px;
  font-weight: normal;

  margin-bottom: 5px;
  padding-right: 14px;
  padding-left: 10px;

  text-align: left;

  color: #000;

  direction: ltr;
}

.nivo-caption_padding {
  padding-right: 10px;
  padding-left: 14px;

  text-align: left;

  direction: ltr;
}

.headerok {
  width: 1010px;
}

.top-header {
  /* overflow: hidden; */
  float: left;

  width: 1008px;
  height: 48px;

  border: 1px solid #223773;
  border-top: 1px solid #5973b5;

  @include linear-gradient(#2549a9, #112997);
  @extend .clearfix;
  .logo {
    display: block;
    float: left;

    width: 230px;
    height: 100%;

    color: #fff;
    background-image: url(../img/logo-small.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    img {
      max-width: 100%;
    }
    a {
      text-decoration: none;

      color: #fff;
    }
    h2,
    h3 {
      padding-left: 50px;

      text-align: center;
    }
    .top-logo {
      font-size: 15px;

      padding-top: 4px;
    }
    .top-description {
      font-size: 10px;
    }
  }
}

.headnav {
  display: block;
  float: right;

  height: 100%;
  margin: 0;
  padding: 0;

  @extend .clearfix;
  li {
    position: relative;

    display: inline-block;
    float: left;

    height: 45px;
    padding-top: 3px;

    text-align: center;

    border-right: 1px solid #506bbb;
    border-left: 1px solid #152d79;
    a {
      font-size: 14px;

      display: block;

      width: 100%;
      height: 100%;

      text-decoration: none;

      color: #fff;
      span {
        display: block;
      }
    }
    .sub-menu {
      position: absolute;
      z-index: 20;
      top: 35px;
      left: 0;

      display: none;

      width: auto;
      padding: 0;
      padding-top: 15px;
      li {
        display: block;
        float: none;

        padding: 0;

        text-align: left;

        background-color: rgb(60, 61, 123);
        &:hover {
          background-color: rgb(131, 187, 38);;
        }
        a {
          display: block;

          padding: 10px;

          white-space: nowrap;
          word-wrap: normal;

          color: #fff;
        }
      }
      .sub-menu {
        display: none;
      }
    }
    &.menu-item-78 {
      width: 86px;
    }
    &.menu-item-86 {
      width: 87px;
    }
    &.menu-item-85 {
      width: 100px;
    }
    &.menu-item-87 {
      width: 145px;
    }
    &.menu-item-91 {
      width: 73px;
    }
    &.menu-item-90 {
      width: 120px;
    }
    &.menu-item-89 {
      width: 65px;
    }
    &.menu-item-92 {
      width: 77px;
    }
    &:last-child {
      border: 0;
      .sub-menu {
        right: 0;
        left: auto;
      }
    }
    &:hover {
      a {
        color: #a4e438;
      }
      .sub-menu {
        display: block;
        .sub-menu {
          display: none;
        }
      }
    }
  }
}
.header-bottom-menu {
  float: left;

  width: 1008px;
  height: 42px;

  border: 1px solid grey;
  background-image: url(../img/menu_stripe.gif);
  background-repeat: repeat-x;

  @extend .clearfix;
  .header-bottom-descr {
    font-size: 19px;
    font-weight: bold;
    font-style: normal;

    float: left;

    width: 190px;
    height: 31px;
    margin: 0;
    padding-top: 12px;

    text-align: center;

    color: #112996;
  }
  .headnav-bottom {
    float: right;

    width: 816px;
    height: 40px;
    margin: 0;
    padding: 0;
    padding-top: 2px;

    list-style-image: none;

    @extend .clearfix;
    li {
      display: inline-block;
      float: left;

      width: 16.5%;
      height: 100%;

      text-align: center;

      border-right: 1px solid gray;
      span {
        display: block;
      }
      &:last-child {
        border-right: 0;
      }
      a {
        text-decoration: none;

        color: rgb(75, 95, 128);
      }
      &:hover {
        a {
          color: rgb(0, 18, 138);
        }
      }
    }
  }
}
.page-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  font-style: normal;
  line-height: 20pt;

  padding-bottom: 10px;

  color: #102995;
}
.breadcrumbs {
  margin-bottom: 20px;
  a {
    &:first-child {
      text-decoration: none;
    }
  }
}
.blue-top-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;

  margin: 0 0 10px;

  color: #102996;
  a {
    color: #102996;
  }
}


.right-bar-navi {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  display: block;

  width: 186px;
  margin: 0;
  padding: 1px;

  list-style-image: none;

  color: #102996;
  border: 1px solid #778ac4;
  background-color: #cbdeed;
  > li {
    padding: 7px 18px;

    background: #dae8f2 url('../img/department_bg1.jpg') top left no-repeat;
    &.current_page_ancestor,
    &.current-menu-item {
      background: #294696 url('../img/department_bg_over1.jpg') top left no-repeat;
      a {
        color: #fff;
      }
      &:hover {
        a {
          color: #fff;
        }
      }
      .current-menu-item {
        a {
          color: #000 !important;
        }
      }
    }
    &:hover {
      a {
        color: #000;
      }
    }
  }
  li {
    list-style: none;
    list-style-image: none;
    &.current_page_item,
    &.current_page_ancestor {
      &.menu-item-has-children {
        padding-bottom: 0;
        .sub-menu {
          display: block;

          margin-right: -18px;
          margin-left: -18px;
          padding-top: 10px;
          li {
            padding: 2px 6px 2px 18px;

            background-color: #cbdeed ;
            background-image: url('../img/level2_arrow.gif');
            background-repeat: no-repeat;
            background-position: left 2px;
            a {
              color: #0f2a95;
            }
            &:hover {
              a {
                color: #000;
              }
            }
          }
        }
      }
    }
  }
  a {
    text-decoration: none;
  }
  .sub-menu {
    display: none;

    margin: 0;
    padding: 0;
  }
}
.sidebar-right {
  width: 190px;
}
.center-panel-width {
  width: 725px;
  .HTMLtext {
    width: 725px;
  }
  .sidebar-right {
    display: none;
  }
}
.home-footer-contacts {
  display: block;

  margin: 0 0 30px;
  padding: 0;

  color: #fff;
  background-color: #476f94;

  @extend .clearfix;
  a {
    text-decoration: none;

    color: #fff;
  }
  li {
    font-size: 12px;

    display: block;
    float: left;

    width: 181px;
    height: 160px;
    padding: 10px;

    border-right: 1px solid #fff;
    &:last-child {
      border-right: 0;
    }
  }
  h4 {
    font-size: 16px;
    font-weight: bold;

    margin-bottom: 18px;

    color: #fff;
  }
  span {
    display: block;
    span {
      display: inline;
    }
  }
}
.home-content-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;

  padding: 20px;

  color: #5c627a;
  border: 1px solid #7588c4;
  background-color: #cee0ee;
}
.sidebarnav {
  margin-bottom: 15px;
  padding: 10px;

  border: 1px solid #778ac4;
  li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;

    position: relative;

    display: block;

    padding: 7px 0 7px 15px;

    cursor: pointer;

    color: #102996;
    &:before {
      font-size: 8px;
      font-weight: bold;

      position: absolute;
      top: 8px;
      left: 3px;

      content: '>';
    }
    a {
      text-decoration: none;
    }
  }
}
.left-bar-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;

  margin: 0 0 20px;
  padding-left: 20px;

  color: #102996;
}
.home-left-panel {
  img {
    width: 100%;
  }
}
