/*1461721275,*/

form {
  margin: 0;
  padding: 0;
}

label {
  font-weight: bold;

  cursor: pointer;
  vertical-align: middle;

  color: #666;
  input {
    font-weight: normal;
  }
}

textarea,
.inputtext,
.inputpassword {
  margin: 0;
  padding: 3px;

  border: 1px solid #bdc7d8;
  -webkit-border-radius: 0;

  -webkit-appearance: none;
}

textarea {
  max-width: 100%;
}

select {
  padding: 2px;

  border: 1px solid #bdc7d8;
}

.inputtext,
.inputpassword {
  padding-bottom: 4px;
}

.inputtext:invalid,
.inputpassword:invalid {
  box-shadow: none;
}

.inputradio {
  margin: 0 5px 0 0;
  padding: 0;

  vertical-align: middle;
}

.inputcheckbox {
  vertical-align: middle;

  border: 0;
}

.inputbutton,
.inputsubmit {
  padding: 2px 15px 3px 15px;

  text-align: center;

  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #dcdee3 #0e1f5b #0e1f5b #d9dfea;
  background-color: #3b5998;
}

.inputsubmit_disabled {
  color: #fff;
  border-right: 1px solid #666;
  border-bottom: 1px solid #000;
  background-color: #999;
}

.inputaux {
  color: #000;
  border-color: #e9eaed #666 #666 #e7e7e7;
  background: #e9eaed;
}

.inputaux_disabled {
  color: #999;
}

.inputsearch {
  padding-left: 17px;

  background: #fff url(/rsrc.php/v2/yL/r/unHwF9CkMyM.png) no-repeat left 4px;
}

body {
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  line-height: 1.28;

  margin: 0;
  padding: 0;

  color: #141823;
  background: #fff;

  direction: ltr;
  unicode-bidi: embed;
}

button,
input,
label,
select,
td,
textarea {
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 13px;

  margin: 0;
  padding: 0;

  color: #141823;
}

h1 {
  font-size: 14px;
}

h4,
h5,
h6 {
  font-size: 11px;
}

p {
  margin: 1em 0;
}

a {
  cursor: pointer;
  text-decoration: none;

  color: #3b5998;
}

button {
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
}

td {
  text-align: left;
  &.label {
    text-align: left;
  }
}

dd {
  color: #000;
}

dt {
  color: #777;
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

abbr {
  text-decoration: none;

  border-bottom: none;
}

hr {
  height: 1px;

  color: #d9d9d9;
  border-width: 0;
  background: #d9d9d9;
}

.clearfix {
  zoom: 1;
  &:after {
    font-size: 0;
    line-height: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
  }
}

.datawrap {
  word-wrap: break-word;
}

.word_break {
  display: inline-block;
}

.ellipsis {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.aero {
  opacity: .5;
}

.column {
  float: left;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

#facebook {
  .hidden_elem {
    display: none !important;
  }
  .invisible_elem {
    visibility: hidden;
  }
  .accessible_elem {
    position: absolute;

    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px;
    height: 1px;

    white-space: nowrap;
  }
}

.direction_ltr {
  direction: ltr;
}

.direction_rtl {
  direction: rtl;
}

.text_align_ltr {
  text-align: left;
}

.text_align_rtl {
  text-align: right;
}

* {
  &::-webkit-input-placeholder {
    color: #9197a3;
  }
  &:focus::-webkit-input-placeholder {
    color: #bdc1c9;
  }
}

.no_js *::-webkit-input-placeholder {
  color: #000;
}

body {
  overflow-y: scroll;
}

.mini_iframe,
.serverfbml_iframe {
  overflow-y: visible;
}

.auto_resize_iframe {
  overflow: hidden;

  height: auto;
}

.pipe {
  padding: 0 3px;

  color: gray;
}

#content {
  width: auto;
  margin: 0;
  padding: 0;

  outline: none;
}

.profile #content,
.home #content,
.search #content {
  min-height: 600px;
}

.UIStandardFrame_Container {
  width: 960px;
  margin: 0 auto;
  padding-top: 20px;
}

.UIStandardFrame_Content {
  float: left;

  width: 760px;
  margin: 0;
  padding: 0;
}

.UIStandardFrame_SidebarAds {
  float: right;

  width: 200px;
  margin: 0;
  padding: 0;

  word-wrap: break-word;
}

.UIFullPage_Container {
  width: 940px;
  margin: 0 auto;
  padding: 20px 12px 0;
}

.empty_message {
  font-size: 13px;
  line-height: 17px;

  padding: 20px 20px 50px;

  text-align: center;

  background: #f6f7f8;
}

.see_all {
  text-align: right;
}

.standard_status_element {
  visibility: hidden;
  &.async_saving {
    visibility: visible;
  }
}

img.tracking_pixel {
  position: absolute;

  visibility: hidden;

  width: 1px;
  height: 1px;
}

.inlineBlock {
  display: inline-block;
  zoom: 1;
}

._icv ._3h0d ._55pe {
  max-width: 90px !important;
}

.fixed_elem,
.fixed_always {
  position: fixed !important;
}

.tinyHeight .fixed_elem {
  position: static !important;
}

.chrome {
  .fixed_elem,
  .fixed_always {
    transform: translateZ(0);
  }
}

.tinyHeight .chrome .fixed_elem {
  transform: none;
}

.fullScreen {
  width: 100%;
  height: 100%;
}

._li._li._li {
  overflow: initial;
}

._32qa button {
  opacity: .4;
}

._59ov {
  position: relative;
  top: -10px;

  width: 100%;
  height: 100%;
  height: 910px;
}

._5ti_ {
  width: 100%;
  height: 100%;

  background-size: cover;
}

._5tj2 {
  height: 900px;
}

._2mm3 ._5a8u .uiBoxGray {
  margin: 0;
  padding: 12px;

  background: #fff;
}

.pluginButtonSpacer {
  padding-left: 4px;
}

.pluginButton {
  font-weight: bold;
  line-height: 20px;

  height: 20px;
  padding: 0;

  cursor: pointer;
  white-space: nowrap;

  color: #fff;
  border: none;
  border-radius: 2px;
  background: #4c69ba;
  background: linear-gradient(#4c69ba, #3b55a0);
  text-shadow: 0 -1px 0 #354c8c;
}

.pluginButtonLight {
  background: linear-gradient(#0084ff, #006fff);
  text-shadow: 0 -1px 0 #005ecf;
}

.pluginButtonInline {
  display: inline-block;
}

.pluginButtonX {
  cursor: default;
}

.pluginButton button {
  font: inherit;
  font-weight: bold;

  margin: 0;
  padding: 0;

  cursor: pointer;

  color: inherit;
  border: 0;
  outline: none;
  background: transparent;
  text-shadow: 0 -1px 0 #354c8c;
}

.pluginButtonIcon {
  position: relative;
  top: 3px;
  left: 0;

  width: 14px;
  height: 14px;
  margin: 0 4px 0 4px;

  vertical-align: top;
}

.pluginButtonImage {
  display: inline-block;
}

.pluginButtonIconSVG {
  width: 14px;
  height: 14px;
}

.no_svg .pluginButtonIconSVG,
.svg .pluginButtonIconPNG {
  display: none;
}

.pluginButtonContainer {
  -webkit-font-smoothing: antialiased;
}

.pluginButtonIconPlaceholder {
  display: block;

  width: 7px;
  height: 14px;
}

.pluginButton .pluginButtonLabel {
  position: relative;

  padding: 0 5px 0 0;

  vertical-align: top;
}

.android .pluginButton .pluginButtonLabel {
  top: 1px;
}

.pluginButton:hover {
  border-color: #5874c3 #4961a8 #41599f;
  background: #5b7bd5;
  background: linear-gradient(#5b7bd5, #4864b1);
  box-shadow: inset 0 0 1px #607fd6;
}

.pluginButtonLight:hover {
  background: linear-gradient(#009bff, #0084ff);
  box-shadow: inset 0 0 1px #006fff;
}

.pluginButtonPressed {
  opacity: .7;
  border-color: #385490 #ddd #374f92;
  background: #355089;
  background: linear-gradient(#415ca9, #4c69ba);
  box-shadow: inset 0 0 1px #3e58a3;
  &:hover {
    opacity: .7;
    border-color: #385490 #ddd #374f92;
    background: #355089;
    background: linear-gradient(#415ca9, #4c69ba);
    box-shadow: inset 0 0 1px #3e58a3;
  }
}

.pluginButtonPressedLight {
  background: linear-gradient(#006fff, #0084ff);
  &:hover {
    background: linear-gradient(#006fff, #0084ff);
  }
}

.pluginButtonErrorLink {
  font-weight: bold;

  color: #a00;
}

.pluginButtonX {
  .pluginButtonXOff {
    display: inline-block;
  }
  button {
    &:hover .pluginButtonXOn,
    &:focus .pluginButtonXOn {
      display: inline-block;
    }
  }
  .pluginButtonXOn {
    display: none;
  }
  button {
    &:hover .pluginButtonXOff,
    &:focus .pluginButtonXOff {
      display: none;
    }
  }
}

.pluginButton .pluginButtonThrobber {
  display: none;
}

form.async_saving {
  .pluginButtonIconWithThrobber {
    display: none;
  }
  .pluginButtonThrobber {
    display: inline-block;

    max-width: 14px;
    margin-top: 2px;
    margin-bottom: 1px;
  }
}

.pluginCountButton {
  font-size: 11px;
  line-height: 18px;

  display: inline-block;

  min-width: 15px;
  height: auto;
  margin-left: 6px;
  padding: 0 3px;

  text-align: center;
  white-space: nowrap;

  color: #4e5665;
  border: 1px solid #9197a3;
  border-radius: 2px;
  background: white;
}

.pluginCountButtonNub {
  position: relative;
  z-index: 2;
  top: -15px;
  left: 2px;

  width: 5px;
  height: 0;
  s {
    position: relative;
    top: 1px;

    display: block;

    border-width: 4px 5px 4px 0;
    border-style: solid;
    border-color: transparent #9197a3;
  }
  i {
    position: relative;
    top: 1px;
    top: -7px;
    left: 2px;

    display: block;

    border-width: 4px 5px 4px 0;
    border-style: solid;
    border-color: transparent #9197a3;
    border-right-color: #fff;
  }
}

.pluginCountTextConnected {
  display: none;
}

.pluginCountConnected {
  .pluginCountTextDisconnected {
    display: none;
  }
  .pluginCountTextConnected {
    display: inline;
  }
}

.pluginErrorLink {
  color: #f03d25;
}

.pluginFontArial {
  font-family: Arial, sans-serif;
  button,
  input,
  label,
  select,
  td,
  textarea {
    font-family: Arial, sans-serif;
  }
}

.pluginFontLucida {
  font-family: Lucida Grande, sans-serif;
  button,
  input,
  label,
  select,
  td,
  textarea {
    font-family: Lucida Grande, sans-serif;
  }
}

.pluginFontSegoe {
  font-family: Segoe UI, sans-serif;
  button,
  input,
  label,
  select,
  td,
  textarea {
    font-family: Segoe UI, sans-serif;
  }
}

.pluginFontTahoma {
  font-family: Tahoma, sans-serif;
  button,
  input,
  label,
  select,
  td,
  textarea {
    font-family: Tahoma, sans-serif;
  }
}

.pluginFontTrebuchet {
  font-family: Trebuchet MS, sans-serif;
  button,
  input,
  label,
  select,
  td,
  textarea {
    font-family: Trebuchet MS, sans-serif;
  }
}

.pluginFontVerdana {
  font-family: Verdana, sans-serif;
  button,
  input,
  label,
  select,
  td,
  textarea {
    font-family: Verdana, sans-serif;
  }
}

.pluginFontHelvetica {
  font-family: helvetica, arial, sans-serif;
  button,
  input,
  label,
  select,
  td,
  textarea {
    font-family: helvetica, arial, sans-serif;
  }
}

body.plugin {
  overflow: hidden;

  background: transparent;

  -webkit-text-size-adjust: none;
}

._1f8a {
  display: inline;
  float: left;
}

._1f8b {
  float: left;
}

._mw_ {
  color: #5890ff;
}

._mw- {
  color: #dc6b6b;
}

._43_1 ._4tm-,
._4tm- {
  font-size: 14px;
}

._3__n {
  margin: 0 8px 0 2px;
}

._29ee {
  cursor: pointer;
  vertical-align: middle;
  ._1lbg {
    display: block;

    margin-top: -1px;
  }
}

._29ef {
  line-height: 16px;

  margin-left: 2px;

  vertical-align: middle;
}

._4dtr {
  line-height: 16px;

  vertical-align: middle;
}

._l3q {
  position: fixed;
  z-index: 400;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;

  transition: opacity .3s;

  opacity: 0;
  background: #000;
  &._l3r {
    bottom: 0;

    opacity: .8;
  }
  ._1lrh {
    position: absolute;
    top: 13px;
    right: 13px;

    cursor: pointer;
  }
}

._xng {
  position: relative;
  z-index: 401;
}

._42ft {
  display: inline-block;

  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  + ._42ft {
    margin-left: 4px;
  }
}

._42fr,
._42fs {
  cursor: default;
}

._53ij {
  position: relative;

  background: #fff;
}

._53io {
  position: absolute;

  overflow: hidden;
}

._53ih ._53io {
  display: none;
}

._5f0v {
  outline: none;
}

._3oxt {
  outline: 1px dotted #3b5998;
  outline-color: invert;
}

.webkit ._3oxt {
  outline: 5px auto #5b9dd9;
}

.win.webkit ._3oxt {
  outline-color: #e59700;
}

i.img {
  -ms-high-contrast-adjust: none;
  _overflow: hidden;
  u {
    position: absolute;
    left: -999999px;
  }
}

.lfloat {
  float: left;
}

.rfloat {
  float: right;
}

.pas {
  padding: 5px;
}

.pam {
  padding: 10px;
}

.pal {
  padding: 20px;
}

.pts {
  padding-top: 5px;
}

.ptm {
  padding-top: 10px;
}

.ptl {
  padding-top: 20px;
}

.prs {
  padding-right: 5px;
}

.prm {
  padding-right: 10px;
}

.prl {
  padding-right: 20px;
}

.pbs {
  padding-bottom: 5px;
}

.pbm {
  padding-bottom: 10px;
}

.pbl {
  padding-bottom: 20px;
}

.pls {
  padding-left: 5px;
}

.plm {
  padding-left: 10px;
}

.pll {
  padding-left: 20px;
}

.phs {
  padding-right: 5px;
  padding-left: 5px;
}

.phm {
  padding-right: 10px;
  padding-left: 10px;
}

.phl {
  padding-right: 20px;
  padding-left: 20px;
}

.pvs {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pvm {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pvl {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mas {
  margin: 5px;
}

.mam {
  margin: 10px;
}

.mal {
  margin: 20px;
}

.mts {
  margin-top: 5px;
}

.mtm {
  margin-top: 10px;
}

.mtl {
  margin-top: 20px;
}

.mrs {
  margin-right: 5px;
}

.mrm {
  margin-right: 10px;
}

.mrl {
  margin-right: 20px;
}

.mbs {
  margin-bottom: 5px;
}

.mbm {
  margin-bottom: 10px;
}

.mbl {
  margin-bottom: 20px;
}

.mls {
  margin-left: 5px;
}

.mlm {
  margin-left: 10px;
}

.mll {
  margin-left: 20px;
}

.mhs {
  margin-right: 5px;
  margin-left: 5px;
}

.mhm {
  margin-right: 10px;
  margin-left: 10px;
}

.mhl {
  margin-right: 20px;
  margin-left: 20px;
}

.mvs {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mvm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mvl {
  margin-top: 20px;
  margin-bottom: 20px;
}

.fss {
  font-size: 9px;
}

.fsm {
  font-size: 11px;
}

.fsl {
  font-size: 13px;
}

.fsxl {
  font-size: 16px;
}

.fsxxl {
  font-size: 18px;
}

.fwn {
  font-weight: normal;
}

.fwb {
  font-weight: bold;
}

.fcb {
  color: #333;
}

.fcg {
  color: #7f7f7f;
}

.fcw {
  color: #fff;
}

.uiStickyPlaceholderInput {
  position: relative;

  display: inline-block;
  input,
  textarea {
    position: relative;

    background-color: transparent;
  }
  .placeholder {
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 4px 0 0 5px;

    cursor: text;

    color: #999;
  }
}

.uiTypeahead .uiStickyPlaceholderInput .placeholder {
  padding: 3px 0 0 4px;
}

div {
  &.uiStickyPlaceholderTextarea .placeholder {
    padding: 6px 0 0 6px;
  }
  &.uiStickyPlaceholderEmptyInput .placeholder {
    display: block;
  }
}

.uiTypeahead .uiStickyPlaceholderInput {
  width: 100%;
}

.uiClearableTypeahead .selected .uiStickyPlaceholderInput {
  margin-right: 16px;
}

.uiTextareaNoResize {
  resize: none;
}

.uiTextareaAutogrow {
  overflow: hidden;
}

.uiLayer {
  outline: none;
}

._57-x {
  padding: 36px 0;

  text-align: center;
}

._53ip {
  ._53iv {
    padding: 15px;
  }
  ._53ij {
    border: 1px solid #8c8c8c;
    border: 1px solid rgba(0, 0, 0, .45);
    border-bottom: 1px solid #666;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  }
  ._572u {
    padding: 6px 7px 6px 8px;
  }
  ._5v-0 {
    padding-bottom: 10px;
  }
  ._53il {
    padding-top: 10px;
  }
  ._53im {
    padding-right: 10px;
  }
  ._53ik {
    padding-bottom: 10px;
  }
  ._53in {
    padding-left: 10px;
  }
  ._53il ._53io {
    top: 2px;

    width: 16px;
    height: 9px;

    background-image: url(/rsrc.php/v2/yb/r/KisDMKDKUym.png);
    background-repeat: no-repeat;
    background-position: -358px -401px;
    background-size: auto;
  }
  ._53im ._53io {
    right: 2px;

    width: 9px;
    height: 16px;

    background-image: url(/rsrc.php/v2/yb/r/KisDMKDKUym.png);
    background-repeat: no-repeat;
    background-position: -10px -422px;
    background-size: auto;
  }
  ._53ik {
    ._53io {
      bottom: 2px;

      width: 16px;
      height: 9px;

      background-image: url(/rsrc.php/v2/yb/r/KisDMKDKUym.png);
      background-repeat: no-repeat;
      background-position: -324px -401px;
      background-size: auto;
    }
    &._kc ._53io {
      background-image: url(/rsrc.php/v2/yb/r/KisDMKDKUym.png);
      background-repeat: no-repeat;
      background-position: -341px -401px;
      background-size: auto;
    }
  }
  ._53in ._53io {
    left: 2px;

    width: 9px;
    height: 16px;

    background-image: url(/rsrc.php/v2/yb/r/KisDMKDKUym.png);
    background-repeat: no-repeat;
    background-position: 0 -422px;
    background-size: auto;
  }
}

.uiContextualDialogFooterLink {
  font-weight: bold;

  display: block;

  padding: 7px;

  text-align: center;

  border-top: 1px solid #e0e0e0;
  background: #f6f7f8;
  &:hover {
    text-decoration: none;

    color: #fff;
    border-color: #3a5795;
    background: #6d84b4;
  }
}

.uiContextualLayerPositioner {
  position: absolute;
  z-index: 200;

  height: 0;
}

.uiContextualLayer {
  position: absolute;
}

div.uiContextualLayerPositionerFixed {
  position: fixed;
}

.uiContextualLayerParent {
  position: relative;
}

.uiOverlay {
  position: relative;
  z-index: 200;
}

.uiOverlayContent {
  position: relative;

  border: 1px solid #8c8c8c;
  border: 1px solid rgba(0, 0, 0, .45);
  border-bottom: 1px solid #666;
  background: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.uiOverlayFooter {
  text-align: right;
}

.uiOverlayFooterGrid,
.uiOverlayFooterMessage {
  width: 100%;
}

.uiOverlayFooterButtons {
  white-space: nowrap;
}

._3cxu ._4cg3 {
  margin-top: -4px;
}

._43q9 ._4cg3 {
  margin-top: -2px;
}

._43qc ._4cg3 {
  margin-top: -1px;
}

._43qf ._4cg3 {
  margin-top: -3px;
}

._3cxu ._43q7 {
  margin: 4px 4px 0 0;
}

._43q9 ._43q7 {
  margin: 2px 2px 0 0;
}

._43qc ._43q7 {
  margin: 1px 1px 0 0;
}

._43qf ._43q7 {
  margin: 3px 3px 0 0;
}

._43qm li:last-child {
  margin-right: 0;
}

._43q7 a {
  position: relative;

  display: block;
}

._2rt_ > div,
._43q7 .img {
  vertical-align: bottom;
}

._43qm {
  .showAll {
    display: block;
  }
  ._43qn {
    padding: 3px;

    border-width: 1px 0 0;
    border-color: #758ab7;
  }
}

._3cxu ._43qn {
  line-height: 18px;

  margin: 4px 4px 0 0;
}

._43q9 ._43qn {
  line-height: 18px;

  margin: 2px 2px 0 0;
}

._43qc ._43qn {
  line-height: 24px;

  margin: 1px 1px 0 0;
}

._43qf ._43qn {
  line-height: 44px;

  margin: 3px 3px 0 0;
}

.uiScaledImageContainer {
  position: relative;

  overflow: hidden;
}

.uiScaledImageCentered {
  text-align: center;

  background-color: #f6f7f8;
}

.uiScaledImageContainer {
  img {
    position: relative;

    height: 100%;
    min-height: 100%;
  }
  .scaledImageFitWidth {
    width: 100%;
    height: auto;
  }
  .scaledImageFitHeight {
    width: auto;
    height: 100%;
  }
  .verticallyAligned {
    min-height: 0;

    vertical-align: middle;
  }
}

.non-editable-photo {
  display: inline-block;

  margin: 0 0 110px 20px;
}

._rv {
  width: 100px;
  height: 100px;
}

._rw {
  width: 50px;
  height: 50px;
}

._s0:only-child {
  display: block;
}

._54rv {
  width: 16px;
  height: 16px;
}

._3d80 {
  width: 28px;
  height: 28px;
}

._54ru {
  width: 32px;
  height: 32px;
}

._tzw {
  width: 40px;
  height: 40px;
}

._54rt {
  width: 48px;
  height: 48px;
}

._54rs {
  width: 56px;
  height: 56px;
}

._1m9m {
  width: 64px;
  height: 64px;
}

._ry {
  width: 24px;
  height: 24px;
}

a._p {
  display: block;
}

._4jy0 {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;

  position: relative;

  box-sizing: content-box;

  text-align: center;
  vertical-align: middle;

  border: 1px solid;
  border-radius: 2px;
  background-color: #f6f7f8;
  background-image: url(/rsrc.php/v2/y1/r/wL6VQj7Ab77.png);
  background-repeat: repeat-x;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

  -webkit-font-smoothing: antialiased;
}

._59pe {
  &:focus,
  &:hover {
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;

    position: relative;

    box-sizing: content-box;

    text-align: center;
    vertical-align: middle;

    border: 1px solid;
    border-radius: 2px;
    background-color: #f6f7f8;
    background-image: url(/rsrc.php/v2/y1/r/wL6VQj7Ab77.png);
    background-repeat: repeat-x;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

    -webkit-font-smoothing: antialiased;
  }
}

._3na7 {
  ._4jy0 {
    background: #f6f7f9;
    box-shadow: none;
  }
  ._59pe {
    &:focus,
    &:hover {
      background: #f6f7f9;
      box-shadow: none;
    }
  }
}

._4jy0 {
  padding: 0 8px;
  &:before {
    display: inline-block;

    height: 20px;

    content: '';
    vertical-align: middle;
  }
}

html ._4jy0:focus {
  outline: none;
  box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15);
}

._4jy0 {
  &._5f0v:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  }
  .img {
    position: relative;
    bottom: 1px;

    vertical-align: middle;
  }
}

form.async_saving ._4jy0,
a.async_saving._4jy0 {
  cursor: default;

  opacity: .5;
}

._4jy0._42fr {
  cursor: default;

  opacity: .5;
  &:active,
  &:focus,
  &:hover {
    cursor: default;

    opacity: .5;
  }
}

._3na7 ._4jy0._4jy0 {
  opacity: 1;
}

._517h {
  color: #4e5665;
  border-color: #ccc #c5c6c8 #b6b7b9;
  text-shadow: 0 1px 0 #fff;
}

._59pe {
  &:focus,
  &:hover {
    color: #4e5665;
    border-color: #ccc #c5c6c8 #b6b7b9;
    text-shadow: 0 1px 0 #fff;
  }
}

._517h {
  &._42fr {
    &:active,
    &._42fs {
      color: #4e5665;
      border-color: #ccc #c5c6c8 #b6b7b9;
      text-shadow: 0 1px 0 #fff;
    }
  }
  &:active {
    border-color: #ccc;
  }
  &._42fs {
    color: #5890ff;
    border-color: #ccc;
  }
  &._42fr._42fs {
    color: #5890ff;
  }
}

._4jy1,
._4jy2 {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
}

._4jy1 {
  border-color: #435a8b #3c5488 #334c83;
  background-color: #4e69a2;
  &._42fr {
    &:active,
    &._42fs {
      border-color: #435a8b #3c5488 #334c83;
      background-color: #4e69a2;
    }
  }
  &:active,
  &._42fs {
    border-color: #2f477a #314a7f #334c83;
    background-color: #4e69a2;
  }
}

._4jy2 {
  border-color: #60a62e #519f18 #409701;
  background-color: #6bb933;
  &._42fr {
    &:active,
    &._42fs {
      border-color: #60a62e #519f18 #409701;
      background-color: #6bb933;
    }
  }
  &:active,
  &._42fs {
    border-color: #3a8b00 #3f9700 #419b00;
    background-color: #52bb5d;
  }
}

._3na7 {
  ._517h {
    color: #4b4f56;
    border-color: #ced0d4;
    text-shadow: none;
  }
  ._59pe {
    &:focus,
    &:hover {
      color: #4b4f56;
      border-color: #ced0d4;
      text-shadow: none;
    }
  }
  ._517h {
    &:hover {
      background-color: #e9ebee;
    }
    &:active,
    &._42fs {
      border-color: #bec2c9;
      background-color: #dddfe2;
    }
  }
  form.async_saving ._517h,
  a.async_saving._517h {
    color: #bec2c9;
    border-color: #dddfe2;
    background-color: #f6f7f9;
  }
  ._517h {
    &._42fr {
      color: #bec2c9;
      border-color: #dddfe2;
      background-color: #f6f7f9;
    }
    &._42fs {
      color: #4080ff;
    }
  }
  ._4jy1,
  ._4jy2 {
    color: #fff;
    text-shadow: none;
  }
  ._4jy1 {
    border-color: #4267b2;
    background-color: #4267b2;
    &:hover {
      border-color: #365899;
      background-color: #365899;
    }
    &:active,
    &._42fs {
      border-color: #29487d;
      background-color: #29487d;
    }
  }
  form.async_saving ._4jy1,
  a.async_saving._4jy1,
  ._4jy1._42fr {
    border-color: #9cb4d8;
    background-color: #9cb4d8;
  }
  ._4jy2 {
    border-color: #42b72a;
    background-color: #42b72a;
    &:hover {
      border-color: #36a420;
      background-color: #36a420;
    }
    &:active,
    &._42fs {
      border-color: #2b9217;
      background-color: #2b9217;
    }
  }
  form.async_saving ._4jy2,
  a.async_saving._4jy2,
  ._4jy2._42fr {
    border-color: #ace0a2;
    background-color: #ace0a2;
  }
}

._59pe,
form.async_saving ._59pe,
a.async_saving._59pe {
  border-color: transparent;
  background: none;
  box-shadow: none;
}

._59pe._42fr {
  border-color: transparent;
  background: none;
  box-shadow: none;
  &:active,
  &:focus,
  &:hover {
    border-color: transparent;
    background: none;
    box-shadow: none;
  }
}

._3na7 {
  ._59pe,
  form.async_saving ._59pe,
  a.async_saving._59pe,
  ._59pe._42fr {
    border-color: transparent;
    background: none;
  }
}

._517i {
  font-size: 12px;
  line-height: 18px;

  height: 18px;

  background-position: 0 0;
  &._42fr {
    &:active,
    &._42fs {
      font-size: 12px;
      line-height: 18px;

      height: 18px;

      background-position: 0 0;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -156px;
  }
}

._4jy1._517i {
  background-position: 0 -314px;
  &._42fr {
    &:active,
    &._42fs {
      background-position: 0 -314px;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -471px;
  }
}

._4jy2._517i {
  background-position: 0 -628px;
  &._42fr {
    &:active,
    &._42fs {
      background-position: 0 -628px;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -785px;
  }
}

._4jy3 {
  font-size: 12px;
  line-height: 22px;

  background-position: 0 -21px;
  &._42fr {
    &:active,
    &._42fs {
      font-size: 12px;
      line-height: 22px;

      background-position: 0 -21px;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -178px;
  }
}

._4jy1._4jy3 {
  background-position: 0 -335px;
  &._42fr {
    &:active,
    &._42fs {
      background-position: 0 -335px;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -492px;
  }
}

._4jy2._4jy3 {
  background-position: 0 -649px;
  &._42fr {
    &:active,
    &._42fs {
      background-position: 0 -649px;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -806px;
  }
}

._4jy4 {
  font-size: 12px;
  line-height: 26px;

  padding: 0 10px;

  background-position: 0 -46px;
  &._42fr {
    &:active,
    &._42fs {
      font-size: 12px;
      line-height: 26px;

      padding: 0 10px;

      background-position: 0 -46px;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -203px;
  }
}

._4jy1._4jy4 {
  background-position: 0 -360px;
  &._42fr {
    &:active,
    &._42fs {
      background-position: 0 -360px;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -517px;
  }
}

._4jy2._4jy4 {
  background-position: 0 -674px;
  &._42fr {
    &:active,
    &._42fs {
      background-position: 0 -674px;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -831px;
  }
}

._4jy5 {
  font-size: 14px;
  line-height: 34px;

  padding: 0 16px;

  background-position: 0 -75px;
  &._42fr {
    &:active,
    &._42fs {
      font-size: 14px;
      line-height: 34px;

      padding: 0 16px;

      background-position: 0 -75px;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -232px;
  }
}

._4jy1._4jy5 {
  background-position: 0 -389px;
  &._42fr {
    &:active,
    &._42fs {
      background-position: 0 -389px;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -546px;
  }
}

._4jy2._4jy5 {
  background-position: 0 -703px;
  &._42fr {
    &:active,
    &._42fs {
      background-position: 0 -703px;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -860px;
  }
}

._4jy6 {
  font-size: 14px;
  line-height: 42px;

  padding: 0 24px;

  background-position: 0 -112px;
  &._42fr {
    &:active,
    &._42fs {
      font-size: 14px;
      line-height: 42px;

      padding: 0 24px;

      background-position: 0 -112px;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -269px;
  }
}

._4jy1._4jy6 {
  background-position: 0 -426px;
  &._42fr {
    &:active,
    &._42fs {
      background-position: 0 -426px;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -583px;
  }
}

._4jy2._4jy6 {
  background-position: 0 -740px;
  &._42fr {
    &:active,
    &._42fs {
      background-position: 0 -740px;
    }
  }
  &:active,
  &._42fs {
    background-position: 0 -897px;
  }
}

._51xa {
  ._4jy0 {
    position: relative;
    z-index: 1;

    display: inline-block;

    margin: 0 !important;
    margin-left: -1px !important;

    border-radius: 0;
    box-shadow: none;
    &._42fr {
      z-index: 0;
    }
    &._4jy1,
    &._4jy2 {
      z-index: 2;
    }
    &:focus {
      z-index: 3;
    }
  }
  > {
    ._4jy0:first-child,
    :first-child ._4jy0 {
      margin-left: 0 !important;

      border-radius: 2px 0 0 2px;
    }
    ._4jy0:last-child,
    :last-child ._4jy0 {
      border-radius: 0 2px 2px 0;
    }
  }
}

._4jy0 {
  &._52nf {
    cursor: default;
  }
  &._52nd {
    box-shadow: none;
  }
}

._9c6 {
  border-color: #666;
  border-color: rgba(0, 0, 0, .4);
  background-clip: padding-box;
  &:active {
    border-color: #666;
    border-color: rgba(0, 0, 0, .4);
    background-clip: padding-box;
  }
}

._3na7 ._9c6._9c6 {
  border-color: rgba(0, 0, 0, .4);
  background-clip: padding-box;
}

._3y89 {
  ._4jy0 {
    border-top-width: 0;
    border-bottom-width: 0;
  }
  > {
    ._4jy0:first-child,
    :first-child ._4jy0 {
      border-left-width: 0;
      border-radius: 1px 0 0 1px;
    }
    ._4jy0:last-child,
    :last-child ._4jy0 {
      border-right-width: 0;
      border-radius: 0 1px 1px 0;
    }
  }
}

._4-u2 {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  > ._4-u3 {
    border-top: 1px solid #e5e5e5;
    &:first-child {
      border-top: none;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    &:last-child {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
}

html {
  ._55r1 {
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 16px;

    height: 22px;
    padding: 0 8px;

    vertical-align: middle;

    color: #141823;
    border: 1px solid #d3d6db;
    background: #fff url(/rsrc.php/v2/yU/r/O7nelmd9XSI.png) repeat-x;
  }
  ._55r2 {
    height: 30px;
  }
  ._55r1._53a0 {
    background: #f6f7f8 url(/rsrc.php/v2/yU/r/O7nelmd9XSI.png) repeat-x;
  }
}

._55r1 {
  &::-webkit-input-placeholder,
  ._58al::-webkit-input-placeholder {
    color: #9197a3;
  }
  &:focus::-webkit-input-placeholder,
  ._58al:focus::-webkit-input-placeholder {
    color: #bdc1c9;
  }
  &._58ak {
    height: 24px;
    padding: 3px 8px 5px;
  }
  &._55r2._58ak {
    height: 32px;
    padding: 7px 8px 9px;
  }
  ._58al {
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
  }
  &._1tp7:not(:focus) {
    background: #fff url(/rsrc.php/v2/y6/r/eFrKTvRvpX9.png) no-repeat right 8px center;
  }
}

._53a0._1tp7:not(:focus) {
  background: #f6f7f8 url(/rsrc.php/v2/y6/r/eFrKTvRvpX9.png) no-repeat right 8px center;
}

.x1-5 ._55r1._1tp7:not(:focus),
.x2 ._55r1._1tp7:not(:focus) {
  background-image: url(/rsrc.php/v2/yu/r/ihdxZr4UqO6.png);
  background-size: 18px 18px;
}

._5lnf {
  margin: 0 12px;
  padding: 8px 0;

  border-top: 1px solid #dcdee3;
}

._50f3 {
  font-size: 12px;
  line-height: 16px;
}

._50f4 {
  font-size: 14px;
  line-height: 18px;
}

._50f5 {
  font-size: 16px;
  line-height: 20px;
}

._50f6 {
  font-size: 18px;
  line-height: 22px;
}

._50f7 {
  font-weight: bold;
}

._5kx5 {
  font-weight: normal;
}

._50f8 {
  color: #9197a3;
}

._c24 {
  color: #4e5665;
}

._50f9 {
  color: #141823;
}

._4-u5 {
  background-color: #e9eaed;
}

._4-u7 {
  background-color: #5890ff;
}

._57d8 {
  background-color: #f6f7f8;
}

._4-u8 {
  background-color: #fff;
}

.textMetrics {
  position: absolute;
  top: -9999999px;

  overflow: hidden;

  height: 1px;
  padding: 0;

  border: none;
}

.textMetricsInline {
  white-space: pre;
}

._42ef {
  overflow: hidden;
}

._51mz {
  border-spacing: 0;
  border-collapse: collapse;

  border: 0;
}

._5f0n {
  width: 100%;

  table-layout: fixed;
}

.uiGrid {
  .vTop {
    vertical-align: top;
  }
  .vMid {
    vertical-align: middle;
  }
  .vBot {
    vertical-align: bottom;
  }
  .hLeft {
    text-align: left;
  }
  .hCent {
    text-align: center;
  }
  .hRght {
    text-align: right;
  }
}

._51mx {
  &:first-child > ._51m- {
    padding-top: 0;
  }
  &:last-child > ._51m- {
    padding-bottom: 0;
  }
}

._51mz {
  ._51mw {
    padding-right: 0;
  }
  ._51m-:first-child {
    padding-left: 0;
  }
}

._8o {
  display: block;
  .img {
    display: block;
  }
}

._8r {
  margin-right: 5px;
}

._8s {
  margin-right: 8px;
}

._8t {
  margin-right: 10px;
}

._6a {
  display: inline-block;
}

._6d {
  vertical-align: bottom;
}

._6b {
  vertical-align: middle;
}

._6e {
  vertical-align: top;
}

._5u5j {
  width: 100%;
}

._ohe {
  float: left;
}

._ohf {
  float: right;
}

._4ki > li {
  display: inline-block;

  border-width: 0 0 0 1px;
}

._4kg > li {
  border-width: 1px 0 0 0;
}

._509- > li {
  vertical-align: top;
}

._509_ > li {
  vertical-align: middle;
}

._50a0 > li {
  vertical-align: bottom;
}

.uiList > li:first-child {
  border-width: 0;
}

._4ks > li {
  border-style: solid;
  border-color: #e9eaed;
}

._4kt > li {
  border-style: solid;
  border-color: #ccc;
}

._4ku > li {
  border-style: solid;
  border-color: #aaa;
}

._4of {
  margin-left: 12px;

  list-style-type: square;

  color: #3b5998;
}

._4ki {
  &._703 > li {
    padding-right: 20px;
    padding-left: 20px;
  }
  &._704 > li {
    padding-right: 5px;
    padding-left: 5px;
  }
  &._6-j > li {
    padding-right: 10px;
    padding-left: 10px;
  }
  &._6-i > li {
    padding-right: 0;
  }
}

._4kg {
  &._704 > li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &._6-j > li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &._703 > li {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &._6-i > li {
    padding-bottom: 0;
  }
  &._6-h > li {
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

._4ki._6-h > li {
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

._4qba {
  font-style: normal;
}

._4qbb,
._4qbc {
  font-style: normal;

  width: auto;
  padding: 0;

  background: none;
}

._4qbd {
  font-style: normal;

  width: auto;
  padding: 0;

  border-bottom: 1px solid #f99;
  background: none;
}

._4qbb,
._4qbc {
  border-bottom: 1px solid #999;
}

._4qbb:hover,
._4qbc:hover,
._4qbd:hover {
  cursor: help;

  border-top: 1px solid #ccc;
  background-color: #fcc;
}

._3-8h {
  margin: 4px;
}

._3-8i {
  margin: 8px;
}

._3-8j {
  margin: 12px;
}

._3-8k {
  margin: 16px;
}

._3-8l {
  margin: 20px;
}

._3-8m {
  margin-top: 4px;
  margin-bottom: 4px;
}

._3-8n {
  margin-top: 8px;
  margin-bottom: 8px;
}

._3-8o {
  margin-top: 12px;
  margin-bottom: 12px;
}

._3-8p {
  margin-top: 16px;
  margin-bottom: 16px;
}

._3-8q {
  margin-top: 20px;
  margin-bottom: 20px;
}

._3-8r {
  margin-right: 4px;
  margin-left: 4px;
}

._3-8s {
  margin-right: 8px;
  margin-left: 8px;
}

._3-8t {
  margin-right: 12px;
  margin-left: 12px;
}

._3-8u {
  margin-right: 16px;
  margin-left: 16px;
}

._3-8v {
  margin-right: 20px;
  margin-left: 20px;
}

._3-8w {
  margin-top: 4px;
}

._3-8x {
  margin-top: 8px;
}

._3-8y {
  margin-top: 12px;
}

._3-8z {
  margin-top: 16px;
}

._3-8- {
  margin-top: 20px;
}

._3-8_ {
  margin-right: 4px;
}

._3-90 {
  margin-right: 8px;
}

._3-91 {
  margin-right: 12px;
}

._3-92 {
  margin-right: 16px;
}

._3-93 {
  margin-right: 20px;
}

._3-94 {
  margin-bottom: 4px;
}

._3-95 {
  margin-bottom: 8px;
}

._3-96 {
  margin-bottom: 12px;
}

._3-97 {
  margin-bottom: 16px;
}

._3-98 {
  margin-bottom: 20px;
}

._3-99 {
  margin-left: 4px;
}

._3-9a {
  margin-left: 8px;
}

._3-9b {
  margin-left: 12px;
}

._3-9c {
  margin-left: 16px;
}

._3-9d {
  margin-left: 20px;
}

._2phz {
  padding: 4px;
}

._2ph- {
  padding: 8px;
}

._2ph_ {
  padding: 12px;
}

._2pi0 {
  padding: 16px;
}

._2pi1 {
  padding: 20px;
}

._2pi2 {
  padding-top: 4px;
  padding-bottom: 4px;
}

._2pi3 {
  padding-top: 8px;
  padding-bottom: 8px;
}

._2pi4 {
  padding-top: 12px;
  padding-bottom: 12px;
}

._2pi5 {
  padding-top: 16px;
  padding-bottom: 16px;
}

._2pi6 {
  padding-top: 20px;
  padding-bottom: 20px;
}

._2pi7 {
  padding-right: 4px;
  padding-left: 4px;
}

._2pi8 {
  padding-right: 8px;
  padding-left: 8px;
}

._2pi9 {
  padding-right: 12px;
  padding-left: 12px;
}

._2pia {
  padding-right: 16px;
  padding-left: 16px;
}

._2pib {
  padding-right: 20px;
  padding-left: 20px;
}

._2pic {
  padding-top: 4px;
}

._2pid {
  padding-top: 8px;
}

._2pie {
  padding-top: 12px;
}

._2pif {
  padding-top: 16px;
}

._2pig {
  padding-top: 20px;
}

._2pih {
  padding-right: 4px;
}

._2pii {
  padding-right: 8px;
}

._2pij {
  padding-right: 12px;
}

._2pik {
  padding-right: 16px;
}

._2pil {
  padding-right: 20px;
}

._2pim {
  padding-bottom: 4px;
}

._2pin {
  padding-bottom: 8px;
}

._2pio {
  padding-bottom: 12px;
}

._2pip {
  padding-bottom: 16px;
}

._2piq {
  padding-bottom: 20px;
}

._2pir {
  padding-left: 4px;
}

._2pis {
  padding-left: 8px;
}

._2pit {
  padding-left: 12px;
}

._2piu {
  padding-left: 16px;
}

._2piv {
  padding-left: 20px;
}

.sp_0Df5uJXxqhx {
  display: inline-block;

  width: 14px;
  height: 14px;

  background-image: url(/rsrc.php/v2/yV/r/2UqZwbwsa-s.png);
  background-repeat: no-repeat;
  background-size: auto;
  &.sx_96329d {
    width: 29px;
    height: 26px;

    background-position: 0 0;
  }
  &.sx_2cf42f {
    background-position: 0 -27px;
  }
  &.sx_462a51 {
    background-position: -15px -27px;
  }
  &.sx_da3169 {
    background-position: 0 -42px;
  }
  &.sx_53ce0c {
    width: 13px;
    height: 13px;

    background-position: -15px -42px;
  }
}

.sp_GvAjq2Y0PMn {
  display: inline-block;

  width: 16px;
  height: 16px;

  background-image: url(/rsrc.php/v2/yb/r/KisDMKDKUym.png);
  background-repeat: no-repeat;
  background-size: auto;
  &.sx_e76a15 {
    background-position: -69px -401px;
  }
  &.sx_999302 {
    background-position: -86px -401px;
  }
  &.sx_09a8fc {
    background-position: -103px -401px;
  }
  &.sx_5176d0 {
    background-position: -120px -401px;
  }
  &.sx_dcbd06 {
    width: 14px;
    height: 14px;

    background-position: -6px -400px;
  }
  &.sx_6ee01d {
    width: 14px;
    height: 14px;

    background-position: -32px -400px;
  }
  &.sx_76b75d {
    height: 10px;

    background-position: -307px -401px;
  }
  &.sx_110fc1 {
    height: 9px;

    background-position: -324px -401px;
  }
  &.sx_50e31a {
    height: 9px;

    background-position: -341px -401px;
  }
  &.sx_48841d {
    width: 9px;

    background-position: 0 -422px;
  }
  &.sx_2b340b {
    width: 9px;

    background-position: -10px -422px;
  }
  &.sx_082f81 {
    height: 9px;

    background-position: -358px -401px;
  }
  &.sx_31ef48 {
    width: 13px;
    height: 13px;

    background-position: -20px -422px;
  }
  &.sx_6ab6fd {
    width: 13px;
    height: 13px;

    background-position: -34px -422px;
  }
  &.sx_59a18e {
    background-position: -137px -401px;
  }
  &.sx_754467 {
    width: 9px;
    height: 5px;

    background-position: -168px -392px;
  }
  &.sx_801067 {
    height: 15px;

    background-position: -290px -401px;
  }
  &.sx_622915 {
    background-position: -154px -401px;
  }
  &.sx_42df03 {
    background-position: -171px -401px;
  }
  &.sx_19eb95 {
    height: 17px;

    background-position: -52px -401px;
  }
  &.sx_b4691a {
    width: 11px;
    height: 9px;

    background-position: -165px -423px;
  }
  &.sx_c4bc86 {
    height: 8px;

    background-position: -71px -392px;
  }
  &.sx_00f2b1 {
    height: 8px;

    background-position: -88px -392px;
  }
  &.sx_0c8901 {
    width: 11px;
    height: 6px;

    background-position: -156px -392px;
  }
  &.sx_c19203 {
    background-position: -188px -401px;
  }
  &.sx_8226ac {
    background-position: -205px -401px;
  }
  &.sx_565711 {
    background-position: -222px -401px;
  }
  &.sx_dd9996 {
    background-position: -239px -401px;
  }
  &.sx_f41b5b {
    background-position: -256px -401px;
  }
  &.sx_8c57af {
    width: 11px;
    height: 12px;

    background-position: -152px -422px;
  }
  &.sx_e3a108 {
    width: 12px;
    height: 12px;

    background-position: -48px -422px;
  }
  &.sx_d3123d {
    width: 12px;
    height: 12px;

    background-position: -61px -422px;
  }
  &.sx_22d85f {
    width: 12px;
    height: 12px;

    background-position: -74px -422px;
  }
  &.sx_d66195 {
    width: 9px;
    height: 5px;

    background-position: -178px -392px;
  }
  &.sx_ca063e {
    width: 12px;
    height: 12px;

    background-position: -87px -422px;
  }
  &.sx_93e3d8 {
    width: 12px;
    height: 12px;

    background-position: -100px -422px;
  }
  &.sx_eadac8 {
    width: 12px;
    height: 12px;

    background-position: -113px -422px;
  }
  &.sx_ce84ef {
    width: 12px;
    height: 12px;

    background-position: -126px -422px;
  }
  &.sx_79ddac {
    width: 12px;
    height: 12px;

    background-position: -139px -422px;
  }
  &.sx_4121c6 {
    width: 10px;
    height: 10px;

    background-position: -177px -422px;
  }
  &.sx_1f5ac9 {
    width: 10px;
    height: 10px;

    background-position: -188px -422px;
  }
  &.sx_7f185c {
    width: 10px;
    height: 10px;

    background-position: -199px -422px;
  }
  &.sx_cf5c12 {
    width: 10px;
    height: 10px;

    background-position: -210px -422px;
  }
  &.sx_da3fa4 {
    width: 10px;
    height: 10px;

    background-position: -221px -422px;
  }
  &.sx_431aac {
    width: 9px;
    height: 8px;

    background-position: -61px -392px;
  }
}

.selected .sp_GvAjq2Y0PMn.sx_431aac {
  background-position: -52px -392px;
}

.sp_GvAjq2Y0PMn {
  &.sx_0e0090 {
    width: 9px;
    height: 8px;

    background-position: -408px -401px;
  }
  &.sx_9f6cfe {
    height: 8px;

    background-position: -105px -392px;
  }
  &.sx_e62cec {
    height: 8px;

    background-position: -122px -392px;
  }
  &.sx_92cbf1 {
    width: 500px;
    height: 48px;

    background-position: 0 0;
  }
  &.sx_4c87ed {
    width: 500px;
    height: 48px;

    background-position: 0 -49px;
  }
  &.sx_cc2acc {
    width: 500px;
    height: 48px;

    background-position: 0 -98px;
  }
  &.sx_4a5ce4 {
    width: 500px;
    height: 48px;

    background-position: 0 -147px;
  }
  &.sx_b3496e {
    width: 500px;
    height: 48px;

    background-position: 0 -196px;
  }
  &.sx_26f917 {
    width: 500px;
    height: 48px;

    background-position: 0 -245px;
  }
  &.sx_2f8668 {
    width: 500px;
    height: 48px;

    background-position: 0 -294px;
  }
  &.sx_b7fde7 {
    width: 500px;
    height: 48px;

    background-position: 0 -343px;
  }
  &.sx_547cb4 {
    width: 5px;
    height: 3px;

    background-position: -188px -392px;
  }
  &.sx_8c53ce {
    height: 8px;

    background-position: -139px -392px;
  }
  &.sx_eb6ac0 {
    background-position: -273px -401px;
  }
  &.sx_f65490 {
    width: 10px;
    height: 9px;

    background-position: -375px -401px;
  }
  &.sx_3bd336 {
    width: 10px;
    height: 9px;

    background-position: -386px -401px;
  }
  &.sx_b71787 {
    width: 10px;
    height: 9px;

    background-position: -397px -401px;
  }
}

.sp_NiKc0wWc6LP {
  display: inline-block;

  width: 16px;
  height: 16px;

  background-image: url(/rsrc.php/v2/yq/r/pvawbfAcLts.png);
  background-repeat: no-repeat;
  background-size: auto;
  &.sx_862306 {
    width: 14px;
    height: 14px;

    background-position: -19px -45px;
  }
  &.sx_b49be5 {
    width: 14px;
    height: 14px;

    background-position: -19px -60px;
  }
  &.sx_5153f1 {
    background-position: 0 -83px;
  }
  &.sx_3be04c {
    width: 18px;
    height: 18px;

    background-position: 0 -45px;
  }
  &.sx_55851a {
    width: 18px;
    height: 18px;

    background-position: 0 -64px;
  }
  &.sx_febe76 {
    width: 17px;

    background-position: -17px 0;
  }
}

.selected .sp_NiKc0wWc6LP.sx_febe76 {
  background-position: 0 0;
}

.sp_NiKc0wWc6LP {
  &.sx_7f5b25 {
    background-position: -17px -83px;
  }
  &.sx_dadfbf {
    background-position: 0 -17px;
  }
  &.sx_836c86 {
    background-position: -16px -17px;
  }
  &.sx_30fb70 {
    width: 9px;
    height: 6px;

    background-position: -19px -75px;
  }
  &.sx_cf7e41 {
    width: 9px;
    height: 6px;

    background-position: 0 -100px;
  }
}

.sp_tF0POETULaI {
  display: inline-block;

  width: 16px;
  height: 16px;

  background-image: url(/rsrc.php/v2/yT/r/UM6uy01D1-V.png);
  background-repeat: no-repeat;
  background-size: auto;
  &.sx_61e498 {
    background-position: -16px 0;
  }
}

.selected .sp_tF0POETULaI.sx_61e498 {
  background-position: 0 0;
}

.sp_tF0POETULaI.sx_1ffc78 {
  background-position: -16px -17px;
}

.selected .sp_tF0POETULaI.sx_1ffc78 {
  background-position: 0 -17px;
}

.sp_uJRilsphSnM {
  display: inline-block;

  width: 40px;
  height: 16px;

  background-image: url(/rsrc.php/v2/yB/r/9WPP5eXqumh.png);
  background-repeat: no-repeat;
  background-size: auto;
  &.sx_a88da1 {
    width: 8px;
    height: 9px;

    background-position: -17px -197px;
  }
  &.sx_4a5635 {
    width: 17px;

    background-position: -17px -120px;
  }
}

.selected .sp_uJRilsphSnM.sx_4a5635 {
  background-position: 0 -120px;
}

.sp_uJRilsphSnM.sx_96486f {
  width: 17px;

  background-position: -17px -137px;
}

.selected .sp_uJRilsphSnM.sx_96486f {
  background-position: 0 -137px;
}

.sp_uJRilsphSnM.sx_b8b7df {
  width: 16px;

  background-position: -16px -154px;
}

.selected .sp_uJRilsphSnM.sx_b8b7df {
  background-position: 0 -154px;
}

.sp_uJRilsphSnM.sx_57cb9f {
  width: 16px;

  background-position: -16px -171px;
}

.selected .sp_uJRilsphSnM.sx_57cb9f {
  background-position: 0 -171px;
}

.sp_uJRilsphSnM {
  &.sx_135b84 {
    width: 16px;

    background-position: 0 -197px;
  }
  &.sx_e27e5d {
    height: 39px;

    background-position: 0 0;
  }
  &.sx_862e5f {
    height: 39px;

    background-position: 0 -40px;
  }
  &.sx_f33898 {
    height: 39px;

    background-position: 0 -80px;
  }
  &.sx_f01a39 {
    width: 9px;
    height: 8px;

    background-position: -9px -188px;
  }
}

.selected .sp_uJRilsphSnM.sx_f01a39 {
  background-position: 0 -188px;
}

#bootloader_8JEJb {
  height: 42px;
}

.bootloader_8JEJb {
  display: block !important;
}
