
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=372bf9709de4c38b30ebfa1efb713bb0
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress