
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=25de6cf91d6f11e766aca243f2603c64
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress