
a, a:visited, a:focus, a:active, a:hover{outline:0 none !important;}

/*****************************************************************************/
.DMenu_Products_TopLevel_Font_normal{font-weight:normal;font-size:8pt;font-family:Arial;color:black;text-decoration:none;}
.DMenu_Products_TopLevel_Font_selected{font-weight:normal;font-size:8pt;font-family:Arial;color:black;text-decoration:none;}
.DMenu_Products_TopLevel_Font_descendant_selected{font-weight:normal;font-size:8pt;font-family:Arial;color:black;text-decoration:none;}

.DMenu_Products_FlatLevel_Font_normal{font-weight:normal;font-size:8pt;font-family:Arial;cursor:pointer;cursor:hand;text-align:right;}
.DMenu_Products_FlatLevel_Font_selected{font-weight:normal;font-size:8pt;font-family:Arial;cursor:pointer;cursor:hand;text-align:right;}
.DMenu_Products_FlatLevel_Font_descendant_selected{font-weight:normal;font-size:8pt;font-family:Arial;cursor:pointer;cursor:hand;text-align:right;}

.DMenu_Products_TopLevel_MouseOver_normal{color:#993333;cursor:pointer;cursor:hand;}
.DMenu_Products_TopLevel_MouseOut_normal{color:black;cursor:pointer;cursor:hand;}
.DMenu_Products_TopLevel_MouseOver_selected{background-color:#EDF8F5;color:white;cursor:pointer;cursor:hand;}
.DMenu_Products_TopLevel_MouseOut_selected{background-color:#EDF8F5;color:white;cursor:pointer;cursor:hand;}
.DMenu_Products_TopLevel_MouseOver_descendant_selected{background-color:#EDF8F5;color:white;cursor:pointer;cursor:hand;}
.DMenu_Products_TopLevel_MouseOut_descendant_selected{background-color:#EDF8F5;color:white;cursor:pointer;cursor:hand;}
						 
		
.DMenu_Products_FlatLevel_MouseOver_normal{background-color:#63ACDC;color:white;border:1px solid #666666;cursor:pointer;cursor:hand;}
.DMenu_Products_FlatLevel_MouseOut_normal{background-color:#E6E6E6;color:black;border:1px solid #666666;cursor:pointer;cursor:hand;}
.DMenu_Products_FlatLevel_MouseOver_selected{background-color:#E59500;color:white;border:1px solid #666666;cursor:pointer;cursor:hand;}
.DMenu_Products_FlatLevel_MouseOut_selected{background-color:#FCA401;color:white;border:1px solid #666666;cursor:pointer;cursor:hand;}
.DMenu_Products_FlatLevel_MouseOver_descendant_selected{background-color:#B2B2B2;border:1px solid #666666;color:black;cursor:pointer;cursor:hand;}
.DMenu_Products_FlatLevel_MouseOut_descendant_selected{background-color:#CCCCCC;border:1px solid #666666;color:black;cursor:pointer;cursor:hand;}

.DMenu_Products_FlatLevel_Container{border:1px solid #666666;border-collapse:collapse;}

/*@@@@DMenu cssClasses **********************************************************************/


.top{font-weight:normal;font-size:10px;font-family:Arial;color:#5C627A;text-decoration:none;}
A.top{font-weight:normal;font-size:10px;font-family:Arial,helvetica;color:#5C627A;text-decoration:underline;}
A.top:hover{color:#4077D1;}
.menuHolder{background:url('images/buttons_background.gif') top left repeat-x;}
#Menu1 a.MMO,#Menu1 > li >a:hover{color:#A4E438;}
#Menu1 > li.contatcusBG {background:url("images/last-menu-item-bg.gif") top left repeat-x;}
#Menu1 > li.contatcusBG >a:hover{color:#ffffff;}
TD.MycartPanelTitle{
}

TD.SearchBarPanelTitle{
	BACKGROUND-COLOR: red;
}
TD.SearchBarPanelBody{
	BACKGROUND-COLOR:#EEEEEE;
}
TD.ProductsCatalogPanelTitle{
	BACKGROUND-COLOR: red;
}
TD.ProductsCatalogPanelBody{
	BACKGROUND-COLOR:#EEEEEE;
}
TD.MembersClubPanelTitle{
	BACKGROUND-COLOR: red;
}
TD.MembersClubPanelBody{
	BACKGROUND-COLOR:#EEEEEE;
}
TD.NewsBarPanelTitle{
	BACKGROUND-COLOR: red;
}
TD.NewsBarPanelBody{
	BACKGROUND-COLOR:#EEEEEE;
}
TD.CartStatusTitle{
	BACKGROUND-COLOR: red;
}
TD.CartStatusBody{
	BACKGROUND-COLOR:#EEEEEE;
}

TD.ProductTableStyle1{
	BACKGROUND-COLOR: #F1F7FB;
}
TD.ProductTableStyle2{
	BACKGROUND-COLOR: #F9FCFE;
}


TD.ProductMycartStyle1{
	BACKGROUND-COLOR: #FFFFFF;
}
TD.ProductMycartStyle2{
	BACKGROUND-COLOR:#F4F4F4;
}
TD.ContactFormTitles{
	/*BACKGROUND-COLOR:#D0E6F4;*/
}
TD.ContactFormInputs{
	/*BACKGROUND-COLOR:#FFFFFF;*/
	padding:5px 0px 15px;
}


INPUT.Search{
	WIDTH: 100%;
	MARGIN: 5px 0px 0px 5px;
}
INPUT.MembersClub{
	WIDTH: 100%;
	MARGIN: 0px 0px 0px 0px;
}
INPUT.MembersClubSubmit{
	WIDTH: 90px;
	HEIGHT: 20px;
	MARGIN: 5px 0px 0px 0px;
	TEXT-ALIGN: center;
}
A.ButtonsText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	text-align: right;
	color : #5C627A;
	text-decoration: none;
}
A.ButtonsText:hover{
	color : #102996;
}
A.ButtonsText1{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;	
	color : #187B8D;
	text-decoration: none;
}

A.MainButton{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #FFFFFF;
	text-decoration: none;
	cursor:hand;
}


.HeaderBar{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11pt;
	font-style : normal;
	font-weight : bold;
	text-align: center;
	color : white;
}
.HTMLtitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14pt;
	font-style : normal;
	font-weight : bold;
	color : #112996;	
}
.HTMLtitleHome1{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 17pt;
	font-style : normal;
	font-weight : normal;
	color : #112996;	
}
.HTMLtitleHome{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14pt;
	font-style : normal;
	font-weight : bold;
	color : #60990E;
	
}
.HTMLtitle2{
font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-style : normal;
	font-weight : bold;
	color : #112996;
}
.HTMLtitle3{
font-family : Arial, Helvetica, sans-serif;
	font-size : 11pt;
	font-style : normal;
	font-weight : bold;
	color : #112996;
}
.HTMLtitlehref
{
font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-style : normal;
	font-weight : normal;
	color : #112996;
}

.HTMLtitleS{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 17pt;
	font-style : normal;
	font-weight : normal;
	color : #067285;	
}
.HTMLtitleS1{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13pt;
	font-style : normal;
	font-weight : bold;
	color : #476C72;	
}
.HTMLtitleS2{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13pt;
	font-style : normal;
	font-weight : bold;
	color : #323D53;	
}

.HTMLtext{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;	
	color : #5C627A;	
	line-height:18px;
}
.HTMLtextS{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;	
	color : #486B72;	
	line-height:18px;
}
.HTMLtextS1{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;	
	color : #077289;	
	line-height:18px;
}
.HTMLtext1{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;	
	color : #FFFFFF;		
}
.HTMLtext2{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11pt;
	font-style : normal;
	font-weight : normal;	
	color : #171287;		
}
.HTMLtext3{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;	
	color : #1829A2;		
}
.ProductDescriptionTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #0077B4;
}
.ProductDescription{
    margin: 0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	text-align: justify;
	color : #5C627A;
}
.MembersClubLoginTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11pt;
	font-style : normal;
	font-weight : bold;
	text-align: right;
	color : #FFFFFF;
}
.MembersClubLoginBody{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	text-align: center;
	color : #333333;
}
.MembersClubLoginBodyTitles{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	text-align: right;
	color : #333333;
}
A.MemberPasswardNewUser{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	text-align: right;
	color : #5C627A;
}
A.MemberPasswardNewUser:hover;{
	color : #FF0000;
}

.NewsBarTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11pt;
	font-style : normal;
	font-weight : bold;
	text-align: right;
	color : #FFFFFF;
}
.NewsTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	text-align: right;
	color : #CC6600;
}
.NewsDate{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	text-align: right;
	color : #666666;
}
.NewsContent{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	text-align: right;
	color : #5C627A;
}
.ProductsCatalogTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11pt;
	font-style : normal;
	font-weight : bold;
	text-align: right;
	color : #FFFFFF;
}
.ImageDesc
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	text-align: center;
	color : #5C627A;
}
.copyright{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;	
	color : #5B6378;
}
.address{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	text-align: center;
	color : #5C627A;
}
.ProductPrice{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
}
.ProductPriceNarrow{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
}
.ItemNo{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
}
.ProductManuf{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
}
.ProductQtn{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
}
.ProductDeliv{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
}
.ProductNotes{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
}



.OnsaleDescription{
	margin:0px 0px 0px 0px;
	padding:3px 3px 3px 3px;
	background-color: #EEEEEE;
	border:1px solid #CCCCCC;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	text-align: right;
	color : #FF0000;
}
.ProductCategoryTitle{
	margin:0px 0px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 17pt;
	font-style : normal;
	font-weight : bold;
	color : #FF0000;
}
.ProductCategoryLongDescription{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
}
.ProductCategoryShortDescription{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;
	color : #5C627A;
}

.FullDetailsText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;
	color : #333333;
	text-align: right;
}
.CartStatusText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #333333;
	text-align: center;
}
.CartStatusBigPrice{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 17pt;
	font-style : normal;
	font-weight : bold;
	color : #FF0000;
	text-align: center;
}
A.CartStatusLink{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
	text-align: center;
}
A.CartStatusLink:hover{
	color:#FF0000;
}
A.ProductNameTableStyle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : bold;
	color : #336699;
	text-align: center;
}

.ProductTableTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
	text-align: center;
}

.ProductMycartTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
}
.ProductNameMycart{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : bold;
	color : #FF0000;
	text-decoration:underline;
}
.ProductPriceMycart{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #666666;
}
.ProductSUBPriceMycart{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
}
.OnsaleCartDesc{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
}
.MycartPriceDesc{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #5C627A;
}

.MycartPrice{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
}
.MycartPanelTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
}
.ContactFormTitles{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;
	color : #5C627A;
}

.PageName{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14pt;
	font-style : normal;
	font-weight : bold;
	color : #102995;
	line-height:20pt;
}

.PageName1{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 17pt;
	font-style : normal;
	font-weight : normal;
	color : #505F7C;
	line-height:20pt;
}

.TitleMain{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12pt;
	font-style : normal;
	font-weight : bold;
	color : #5C627A;
}
.Title{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12pt;
	font-style : normal;
	font-weight : normal;
	color : #336699;
}
.Text{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #5C627A;
	
}
A.Text{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;
	color : #003366;
	text-decoration:underline;
}


.ContentTable{
	background-color : #EEEEEE;
}
.ContentTDTitle{
	background-color : #EEEEEE;
}
.ContentTD{
	background-color : #FFFFFF;
}


.PanelTable{
	/*background-color : #C0C37E;*/
}
.PanelTDTitle{
	background-color : #C0C37E;
}
.PanelTD{
	background-color : #F3F1D8;
}

.PanelLink{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : bold;
	text-align:center;
	color : #5C627A;
}
.PanelTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-style : normal;
	font-weight : bolder;
	color : #FFFFFF;
}
.PanelText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;
	color : #666633;
}

A.NavigationBarStyle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	text-align: right;
	color : #5C627A;
	text-decoration: none;
}
A.NavigationBarStyle:hover{
	color : #102897;
}

.NavigationBarStyleArrow{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 7pt;
	font-style : normal;
	font-weight : bold;
	text-align: right;
	color : #5C627A;
}

A.TableCell{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	text-align: right;
	color : #666666;
	text-decoration: underline;
}
A.TableCell:hover{
	color : #333333;
}

/*--@@@@@@@@@@@@@@@@@@@@@@--*/
/*--@@@ Global Classes @@@--*/
/*--@@@@@@@@@@@@@@@@@@@@@@--*/
BODY{ 
 margin:15px 0px 0px 0px;
 background-color:#FFFFFF; 
}
TD.LeftPanel{
 /*PADDING: 5px 5px 5px 5px;*/
 WIDTH: 264px;
 background-color:#d1e3f1;
 padding-top:29px;
 padding-bottom:20px;
}
TD.CenterPanel{
/* PADDING: 5px 5px 5px 5px;*/
 WIDTH: 687px; 
 padding-top:35px;
 padding-left:27px;
}
TD.CenterPanel1{
/* PADDING: 5px 5px 5px 5px;*/
 WIDTH: 687px;
}

TD.CenterPanel2{
/* PADDING: 5px 5px 5px 5px;*/
 WIDTH: 687px;
 padding-top:35px;
 background: url('images/history_page_bg.jpg') top left repeat-y;
}

TD.RightPanel{
 PADDING: 5px 5px 5px 5px;
 WIDTH: 20%;
}

/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/
/*---@@@ Modul Box Style @@@---*/
/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/
.ModulBoxTDStyle{
	font-family:Arial;
	font-size:9pt;
	color:#FFFFFF;
	font-weight:bold;
}
.ModulTitle{
	font-family : Arial;
	font-size : 12pt;
	font-style : normal;
	font-weight : bold;
	text-align: center;
	color : #102996;
	
}
.ModulTextBig{
	font-family : Arial;
	font-size : 13pt;
	font-style : normal;
	font-weight : bold;
	color : #102996;
}
.ModulTitle1{
	font-family : Arial;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #001389;
}
.ModulTextNormal{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #5C627A;
}
.ModulTextSmall{
	font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #5C627A;
}
/*--@@@@@@@@@@@@@@@@@@@@@@--*/
/*---@@@ Footer Style @@@---*/
/*--@@@@@@@@@@@@@@@@@@@@@@--*/
.Copyright{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #5B6378;
}
A.Copyright{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #5B6378;
	text-decoration:none;
}
/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/
/*---@@@ Products Style @@@---*/
/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/

.ProductTitle{
	font-family : Arial;
	font-size : 12pt;
	font-style : normal;
	font-weight : bold;
	color : #0077B4;
}

.ProductSalePrice{
	font-family : Arial;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #0077B4;
}
.ProductMarketPrice{
	font-family : Arial;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;
	color : #8E4A3B;
}
.ProductOnSale{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #0077B4;
}
.ProductTextBig{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #5C627A;
	text-decoration:none;
}
.ProductTextBig:hover{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #112A97;
	text-decoration:none;
}
.ProductTextNormal{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #5C627A;
}
.ProductTextNormal1{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #FFFFFF;
}
.ProductTextSmall{
	font-family : Arial;
	font-size : 7pt;
	font-style : normal;
	font-weight : normal;
	color : #5C627A;
}

/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/
/*--@@@ For this template @@---*/
/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/

.grayborder {
  /*border:0.2em double #cccccc;
	background-color:#D0E6F4;
	padding:2px;*/
}
.membertitle {
  font-family:Arial;
	font-size:10pt;
	color:#FFFFFF;
	font-weight:bold;
	background: #63ACDC url(images/membertitle.gif) top left no-repeat;
}
.tableborder {
  /*border-style:solid;
	border-width:1px;
	border-color:#5C627A;*/
}
.prodTableTitle {
	background-color:#D0E6F4;
}
TABLE .print{
  border:1px solid black;
	border-collapse:collapse; 
}

TABLE .print TH{
  border:1px solid black;
	border-collapse:collapse; 
	background-color:#FFFFFF;
}

TABLE .print TD{
  border:1px solid black;
	border-collapse:collapse; 
}

.HomePage{
	font-family : Arial;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;
	text-align: right;
	color : #5C627A;
	background-color: #FFFFFF;
	padding:2px;
}
H1,H2,H3,H4
{
	margin:0px;
}
.inputBox
{
	font-family : Arial;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;
	color : #5C627A;
	border: 1px solid #A7BCD1;
}
.inputBox2
{
	font-family : Arial;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;
	color : #5C627A;
	border: 1px solid #9FB5CC;
	background-color: #F0F6FB;
}
.topMenu
{
   font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #588D01;
	text-decoration: none;
	padding-left:2px;
	padding-right:2px;
	
}

A.topMenu
{
   font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #588D01;
	text-decoration: none;
	cursor:pointer;
	cursor:hand;
}

A.topMenu: hover
{
   font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #828FA4;
	text-decoration: none;
}
.bottomText
{
	 font-family : Arial;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;
	color : #FFFFFF;
	text-decoration: none;
}
.bottomText:hover
{
	font-family : Arial;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;
	color : #D9E8F4;
	text-decoration: none;
}
.bottomUnitTitle
{
	font-family : Arial;
	font-size : 13pt;
	font-style : normal;
	font-weight : bold;
	color : #333C53;
}
.bottomTextSmall
{
	font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;	
	color : #5C627A;
}
A.bottomTextSmall
{
	font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;	
	color : #5C627A;
	text-decoration:none;
}
A.bottomTextSmall:hover
{
	font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;	
	color : #5C627A;
	text-decoration:none;
}

table{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;	
	color : #5C627A;	
	line-height:18px;
}
A
{
	color: #5C627A;
}
A:hover
{
	color:#102995;
}
.subMenu
{
	line-height: 1;
   font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #4F5D7D;
	text-decoration: none;
	cursor:pointer;
	cursor:hand;
}

.subMenuOn
{
	line-height: 1;
   font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #02138B;
	text-decoration: none;
	cursor:pointer;
	cursor:hand;
}
.homeDesc
{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #505C7E;
	line-height:11pt;
}
.homeLinks
{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #112995;
	text-decoration:none;
}
.greenTitle
{
	font-family : Arial;
	font-size : 11pt;
	font-style : normal;
	font-weight : bold;
	color:#006B6E;
}
.greenText
{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color:#006B6E;
}
.inputBoxTxt
{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #5C627A;	
	border:1px solid #7193B3;
	width:241px;
	height:22px;
	background-color:#F0F6FB;
}
.inputBoxTxt1
{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #5C627A;	
	border:1px solid #7193B3;	
	background-color:#F0F6FB;
}
.greenLink
{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color:#006B6E;
}
.tbl ul, li
{
	list-style-image: url('images/table_bullet.gif'); 
	margin-right:0px;
}
table ul, li
{
	list-style-image: url('images/table_bullet.gif'); 
	margin-right:0px;
}
A
{
	color:#0E2A94;
}
A:hover
{
	color:#4E5C7F;
}
.inputBox1
{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #647190;	
	border:1px solid #7193B3;
	width:159px;
	height:22px;
	
}
.comboBox
{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #647190;			
	height:22px;
	background-color:#F0F6FB;
	
}
.lightGrayText
{
	font-family : Arial;
	font-size : 11pt;
	font-style : normal;
	font-weight : bold;
	color:#CACACA;
}
.blueLink
{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color: #4E5D7F;
	text-decoration: none;
}
.homeTitles
{
	font-family : Arial;
	font-size : 11pt;
	font-style : normal;
	font-weight : bold;
	color: #0F2896;
}
ul, li
{
	margin: 0px;
	list-style-image: url('images/blue_bullet1.gif');
	list-style-position: outside;
	
}
 .siteMap
{
	
	margin-right: 20px;
	
}

.ModulTextNormal A
{
	color:#071C8D;
	text-decoration:underline;
}
.ModulTextNormal A:hover
{
	color:#4E5C7F;
	text-decoration:underline;
}
.HTMLIndex{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;	
	color : #4C738D;		
	text-decoration:none;
}
.popupSearch
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;	
	color : #4C738D;		
	border-top: 1px solid #A4B1B9;
	border-bottom: 1px solid #A4B1B9;
	border-right: 1px solid #A4B1B9;
	border-left: none;
	width: 117px;
	height: 16px;
}
.tdOver
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;	
	color : #1E3296;	
	text-decoration: none;
	direction: rtl;
}
.tdOut
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;	
	color : #4C738D;	
	text-decoration: none;
	direction: rtl;
}


        #suggest {
          position: absolute;
          background-color: #FFFFFF;
          border: 1px solid #CCCCFF;
          width: 252px;
        }
        #suggest div {
          padding: 1px;
          display: block;
          width: 250px;
          overflow: hidden;
          white-space: nowrap;
        }
        #suggest div.select{
          color: #FFFFFF;
          background-color: #3366FF;
        }
        #suggest div.over{
          background-color: #99CCFF;
        }
		
		
.printKit{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;	
	color : #4e5d7f;	
	text-decoration: none;
	direction: rtl;
}

.printKitText{

/*   	background:  url(images/backGrond.gif) top repeat-x; */
   	background:  url(images/kit color.jpg) top repeat-x; 
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;	
	color : #4e5d7f;	
	text-decoration: none;
	direction: rtl;
	height:70px;
}

.completeItemsasa{
    font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;	
	color : #5c627a;	
	text-decoration: none;
	direction: rtl;
}


.comboboxcontrol-fly-container{
   background-color:white;
   border: 1px solid #B7C4D5;
}
.comboboxcontrol-fly-container .comboboxcontrol-fly-item{
   cursor:pointer;
}
.comboboxcontrol-fly-container .comboboxcontrol-fly-item-over{
   color: #FFFFFF !important;
   background-color: #3366FF !important;
}
.comboboxcontrol-fly-container .comboboxcontrol-fly-item-selected{
   color: #FFFFFF;
   background-color: #B7C4D5;
	 
}

.paggingKit{
font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;	
	color : #8182AA;	
	text-decoration: none;
	direction: rtl;
	text-decoration:none;
}
.paggingKitSelectd{
font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : bold;	
	color : #102995;	
	text-decoration: none;
	direction: rtl;
	text-decoration:none;

}

.h1home{
font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color:#123972;
	padding-left:8px;

}

.ModulTitlemovies{
	font-family : Arial;
	font-size : 11pt;
	font-style : normal;
	font-weight : bold;	
	color : #ffffff;
	text-align: left;
	padding-left:8px;
}
.ModulTitlemoviessubtotofs{
	font-family : Arial;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;	
	color : #353D54;
	text-align: right;
}

.ModulTitlemoviessub{
	font-family : Arial;
	font-size : 12px;
	font-style : normal;
	font-weight : bold;	
	color : #122793;
	text-align: right;
}

.galleryflv{
	font-family : Arial;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;	
	color : #4E5D7F;
	text-align: right;
}
.assutaEmail
{
 	background:  url(images/assutaeftk.gif); 
	background-repeat:no-repeat;
}
.assutaCall
{
   	background:  url(images/call_b.jpg); 
	background-repeat:no-repeat;
}	
.greenButton
{
	font-family : Arial;
	font-size : 13px;
	font-style : normal;
	font-weight : bold;	
	color : #FFFFFF;
	text-align: center;
	background:url('/template/images/green_tab.jpg');
	height:29px;
	cursor:pointer;
}	
.blueButton
{
	font-family : Arial;
	font-size : 13px;
	font-style : normal;
	font-weight :normal;	
	color : #243158;
	text-align: center;
	background:url('/template/images/gray_tab.jpg');
	height:29px;
	cursor:hand;
}	
	.sample_attach_a{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	text-decoration: none;
	color:#5C627A;	
}

.sample_attach_a:hover{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	text-decoration: none;
	color:#00128A;	
}
.blueToptext
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-style : normal;
	font-weight :normal;	
	color:#102996;		
}
.blueToptextB
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-style : normal;
	font-weight :bold;	
	color:#102996;	
}
.blueToptext A
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-style : normal;
	font-weight :normal;	
	color:#102996;	
}
/****** Departments menu *********/

.bottombackg{

	background:#E5EFF6 url('images/department_bg.jpg') bottom no-repeat; 
}

.DepartmentsMenu
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight :normal;	
	color:#102996;	
	height:34px;
	width:185px;
	background:#dae8f2 url('images/department_bg1.jpg') top left no-repeat; 	
	cursor:pointer;	
}
.DepartmentsMenu A
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight :normal;	
	color:#102996;	
	text-decoration:none;
	cursor:pointer;
	
}

.DepartmentsMenuOver
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight :normal;	
	color:#102996;	
	height:34px;
	width:185px;
	background:#294696 url('images/department_bg_over.jpg') top left no-repeat; 	
}
.DepartmentsMenuOver1
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight :normal;	
	color:#102996;	
	height:34px;
	width:185px;
	background:#294696 url('images/department_bg_over1.jpg') top left no-repeat; 	
}
.DepartmentsMenuOver A,
.DepartmentsMenuOver1 A
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight :normal;	
	color:#FFFFFF;	
	text-decoration:none;
}
.DepartmentsMenuLevel2
{
	background-color:#cbdeed;
}
.DepartmentsMenuLevel2 .level2
{
	display: block;
	background: url('images/level2_arrow.gif') top left no-repeat;
	padding-left: 18px;		
	padding-bottom:5px;	
	color:#0f2a95;
}
.DepartmentsMenuLevel2 .level2_selected
{
	display: block;
	background: url('images/level2_arrow.gif') top left no-repeat;
	padding-left: 18px;		
	padding-bottom:5px;	
	color:#030f40;
}
.DepartmentsMenuLevel2 .level2:hover
{
	color:#030f40;
}
/********* ContactLeftForm *********/
.ContactLeftFormTbl
{
	background:url('images/contact_bg.gif') top left repeat-y;
	border-bottom:1px solid #9EA9BE;
}
.ContactLeftFormTitle
{
	background:url('images/contact_top_bg.jpg') top left no-repeat;
	width:230px;
	height:124px;
}
.ContactLeftFormInnerTitle
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 20px;
	font-style : normal;
	font-weight :normal;	
	color:#102996;	
	width:170px;
	padding-top:20px;
	padding-left:30px;
}
.ContactLeftFormDesc
{
	width:170px;
	padding-top:20px;
	padding-left:30px;
	
}
.ContactLeftFormText
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight :normal;	
	color:#5A637B;
	line-height:16px;
}
.ContactLeftFormDesc input
{
	width:170px;		
	border:1px solid #7193B3;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight :normal;	
	color:#5A637B;
	background-color:#F0F6FB;
}
.ContactLeftFormDesc div
{
	padding-top:5px;	
}
.ContactLeftFormDesc textarea
{
	width:170px;		
	border:1px solid #7193B3;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight :normal;	
	color:#5A637B;
	background-color:#F0F6FB;
	height:88px;
}
.ContactLeftFormBlue
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight :normal;	
	color:#102996;	
}
/********* bottom form **********/

 .bottomInputBox
{
	width:156px;		
	border:1px solid #7193B3;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight :normal;	
	color:#5A637B;
	background-color:#F0F6FB;
}
.bottomInputBoxTextarea
{
	width:358px;		
	border:1px solid #7193B3;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight :normal;	
	color:#5A637B;
	background-color:#F0F6FB;
	height:125px;
}
.bottomInputBoxTextarea-new
{
	width:95%;		
	border:1px solid #7193B3;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight :normal;	
	color:#5A637B;
	background-color:#F0F6FB;
	height:125px;
}
.ContactBottomTitle
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 20px;
	font-style : normal;
	font-weight :normal;	
	color:#102996;	
	width:170px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:25px;
}
.backToTop
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight :normal;	
	color:#5B627A;
	text-decoration:none;
}
/********* home page ***********/
.homeBg
{
	background:#EEF5FA url('images/home_bg.jpg') top left repeat-x;
	height:100%;
	padding-top:20px;
}
.homeBlueLink
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight :bold;	
	color:#071C8D;
}
.sendbLink, .sendbLink a,.sendbLink a:hover
{
	color:white;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	width:90px;
	height:25px;
	padding:2px 0px 2px 5px;
}

.fade0{}
.fade1{opacity:0.9;filter:alpha(opacity=90);}
.fade2{opacity:0.8;filter:alpha(opacity=80);}
.fade3{opacity:0.6;filter:alpha(opacity=60);}
.fade4{opacity:0.5;filter:alpha(opacity=50);}
.fade5{opacity:0.2;filter:alpha(opacity=20);}

div#divBanner {
position: fixed; 
top: 0; 
left: 0;
width: 0;
height: 0;
z-index: 2;
}

/* Wrap the following in a 'conditional comment' if you like.
  It won't make it more valid. */ 
* html div#divBanner {
position: absolute;
top:expression(eval(document.compatMode &&
document.compatMode=='CSS1Compat') ?
documentElement.scrollTop : document.body.scrollTop);
left: 0px;
}
* html div#divBanner{left:0px;top:100px;}
/*@@@CSS for Captcha **************************************************************************/
div.input {
  margin: 7px 0;
}

legend {
  padding: 5px;
  color: #999999;
}

label {
  display: block;
  width: 85px;
  float: left;
  text-align: right;
  padding-right: 5px;
}

input.bottominputbox {
  width: 105px;
}

input.textboxSmall {
  width: 40px;
}

#CodeIncorrectLabel,#CodeIncorrectLabel_side{
  color: Red;
}

#CodeCorrectLabel {
  color: Green;
}

#PromptDiv {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

#CaptchaDiv {
  margin: 0;
  padding: 0;
  width:165px;
  height:39px;
  padding-bottom: 5px;
  display:inline;
}

#CaptchaImage {
  float: left;
  margin: 0;
  padding: 0;
  width:137px;
  height:39px;
  display:inline;
}

#CaptchaIcons {
  width: 26px;
  height: 39px;
  float: right;
  text-align: left;
  margin: 0;
  padding: 0;
  display:inline;
}

td#CaptchaIcons {
  padding-left: 3px;
}

#CaptchaIcons img {
  border: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
}

*html #CaptchaIcons img {
  margin-bottom: -2px;
}

.placeholder {
  visibility: hidden;
  width:0 !important;
  height:0 !important;
}

*html .placeholder {
  display: none !important;
}



/*@@@CSS for Captcha **************************************************************************/
.AssutaMainTitle
{
	color:#102896;
	font-weight:bold;
	font-size:20px;
	white-space:nowrap;
	padding-right:20px;
	padding-top:13px;
}
.AssutaMainTitle >h1,.AssutaMainTitle >h4{
color:#102896;
	font-weight:bold;
	font-size:20px;
	white-space:nowrap;
}
.blueHeaderText
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-style : normal;
	font-weight :normal;	
	color:#122898;	
}
.GreyHeaderText , .GreyHeaderText  a
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-style : normal;
	text-decoration:none;
	font-weight :normal;	
	color:#6B6B6B;	
}	

.asterics
{
	color:#D10705;
	padding-right:5px;
	font-size:14px;
	font-weight:bold;
}

/********* FeedbackLeftSide *********/
.Feedbacktbl
{
						background:#ffffff;
            border:1px solid #9EA9BD;
            padding:10px 0px 10px 10px;
            width:230px;
           height:391px; 
        }
        .FeedbackTitle
        {
            color:#112B9A;
            font-size:18px;
            font-family:Arial;
            font-weight:normal;
            padding-bottom:8px;
        }
        .FeedbackTopText,.FeedbackCaption
        {
            color:#666C84;
            font-size:13px;
            font-family:Arial;
            font-weight:bold;
            padding-bottom:2px;
						line-height:17px;
        }
        .FeedbackButton
        {
            padding:20px 0px 10px;
        }
        .FeedbackPaleBlueText,.FeedbackGreenText,.FeedbackBlueText
        {
            color:#5B627C;
            font-size:13px;
            font-family:Arial;
            font-weight:bold;
        }
        .FeedbackGreenText
        {
            color:#7DB51C;
        }
        .FeedbackBlueText A,.FeedbackBlueText a:hover
        {
            color:#112995;
            text-decoration:none;
        }
				.FeedbackSeparator
				{
						padding-top:15px;
				}
				.FeedbackSeparator1
				{
						padding-top:5px;
				}
				.FeedbackCaption
				{
					color:#707589;
				}
				
				.FeedbackInfo
				{
						display: inline; 
						cursor: pointer;
						padding:10px 0px 0px 10px;
						vertical-align:middle;
				}
				.FeedbackFormInputs
				{
						padding:3px 0px 10px;
				}
				.FeedbackCaption a,.FeedbackCaption a:hover
				{
						color:#112995;
						text-decoration:underline;
				}		
				.FeedbackInput
				{
				  width:175px;
					height:20px;
				}	
				.FeedbackRemark
				{
						font-size:11px;
						font-color:#8c8fa0;
						font-weight:normal;
						line-height:15px;
				}
				.FeedbackInfoBlock
				{
						border:1px solid #7193B3;;background:#F9FDFF;padding:10px;width:220px;
				}
	.departmentmenusep{
		margin: auto ;
		height: 34px;
		background:url('images/department_separator.gif') bottom center no-repeat;
	}
	
	.paddinglef15	{
	padding-left:15px;
	}
	.paddinglef18	{
	padding-left:18px;
	padding-top:7px;
	padding-bottom:7px;
	}
	.arrowright{
		background:url('images/arrow3.gif') right center no-repeat;
	}
	
	.arrowright .HTMLtitle{
	padding-right:8px;
	}
	.paddingL5R7
	{
	padding-left:5px;
	padding-right:7px;
	}
	.submenusep{
		background:url('images/submenu_sep.gif') top right  no-repeat;
		height:42px;
	}
	.bottomText .sepperator{
	width:24px;
	background:url('images/dotnew.gif') center  center no-repeat;
	size:0px;
	}
	.bottomfooterzone{	 
	 background:url('images/bottom_stripe.jpg') top left repeat-x;
	 height:30px;
	 width:100%;
	}
	
	.topMenu{
	padding-right:6px;
	padding-left:6px;
	}
	
	.topmenuh  .separator{
		background:url('images/betbutton1.gif') right  no-repeat;
	}
	
	.topmenuh   a{	
		text-decoration:none;
	}
	
	.centerzone{
	width:500px;
	padding-right:34px;	
	}
	.paddingbottom20{
	padding-bottom:20px;
	}
	.paddingbottom10{
	padding-bottom:10px;
	}
	
	
	
	.SM li a, .SM li a:link {
	text-align:left;
	padding:10px;
	}
	
	
	.MM > li > a, .MM > li > a:link {
		margin:0px;
		padding:0 0px 0 0px;			
	}
	
	#Menu1 > li > a {
	color: #ffffff;    
	}
	.mmo{
		color: #a4e438;    
	}
	
.header_left_div
{
	float:left;
	width:712px;
	height: 65px;
	
}	
.clear_both
{
	clear: both;
}
.header_right_div
{
	float:left;
	background: url('images/contact_bg.jpg') top left no-repeat;
	width: 295px;
	height: 49px;
}
.header_right_div .contact_title 
{
	float: left;
	width: 110px;
	padding-top: 7px;
	padding-left:12px;
	text-align:center;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;	
}

 .header_right_div .contact_title a
 {
 color: #ffffff;	
 text-decoration:none;
 }
 
.header_right_div .contact_phone
{
	float: left;
	width: 150px;
	margin-left:5px;
	padding-top: 7px;
	padding-left:12px;
	text-align:center;
	font-size: 17px;
	font-weight: bold;
	color: #7db51c;
	padding-top:16px;
}	
.search_input
{
	width: 104px;
	height: 16px;
	border-left: 1px solid #a7bcd1;
	border-top: 1px solid #a7bcd1;
	border-bottom: 1px solid #a7bcd1;
	border-right: none;
	font-size:12px;
	color:#8dbe2f;
	padding-right:3px;
} 
	

/*
videogalleryzone videogalleryzone
*/	
	
.videogalleryzone .videozone{
	/*width:633px;*/
	text-align:center;
	margin-top:12px;
	margin-bottom:12px;
}

.videogalleryzone .sel-item-name{
	font-size:13pt;
	color:#001283;
}

.videogalleryzone .uppercontent{
background-color:#E9F2FB;
border-top-width:2px;
border-top-style:solid;
border-top-color:#609912;
}

.videogalleryzone .currentpage-category{
	font-weight:bold;
	font-size:14pt;
	color:#001283;
	margin-top:6px;
}

.videogalleryzone .imgdiv{
	border:0px solid red;
	height:auto;
	overflow:auto;
}
.videogalleryzone .itemimg{
/*border:2px solid #fff;*/
border:2px solid #BBBDBF;
}
.videogalleryzone a.list-item-name{
	color:#00007E;
	cursor:pointer;
	text-decoration:none;	
	font-size:11pt;
	font-weight:normal;
}
.videogalleryzone .vedio-searchpannel{
text-align:right;
margin-bottom:4px;
}
.videogalleryzone .bottomsep{
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#C8D9E7;
	height:2px;
	font-size:1px;
}
.videogalleryzone .topsep{
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#C8D9E7;
	height:8px;
	font-size:1px;
	line-height:8px;
}
.videogalleryzone .subtitle{
	font-weight:normal;
	font-size:15pt;
	color:#001283;
	margin-bottom:3px;
}
.videogalleryzone .list-content{
padding-top:16px;
}
.videogalleryzone .topcategory{
margin-right:22px;
margin-left:22px;
}
.videocontntzone{
margin-left:30px;
}


.vedio-searchpannel .content{
text-align:right;
 float:right;
}

table.video-gallery-loby
{
width:630px;
}

.video-gallery-loby a{
	text-decoration:none;
	font-weight:bold;
	font-size:12pt;
	color:#000073;
	
}
.video-gallery-loby .headercube{
    border-bottom: 2px solid #609912;
}
.video-gallery-loby .cube1{
	border-right:1px solid #BACCDF;
	border-bottom:1px solid #BACCDF;
}
.video-gallery-loby .cube2{
	border-left:1px solid #BACCDF;
	border-bottom:1px solid #BACCDF;
}
.video-gallery-loby .cube3{
	border-right:1px solid #BACCDF;	
	border-top:1px solid #BACCDF;
}
.video-gallery-loby .cube4{
	border-left:1px solid #BACCDF;	
	border-top:1px solid #BACCDF;
}


.video-gallery-loby .subtitle{
   color: #001283;
   font-size: 15pt;
   font-weight: normal;
   margin-bottom: 3px;
}

.searchresults a {
font-weight:normal;
}


/* pagging  */

.pagging-bg
{
	background-color:#E1EDFB;
	height:18px;
	text-align:center;
	padding-top:5px;
	margin:5px auto 0px;
}
.pagging-bg1
{
		width:365px; 
}
.pagging-bg2
{
		width:305px; 
}
.pagging-bg3
{
		width:365px; 
}						
.pagging-bg >DIV
{
  border-left:1px solid white;
	padding:0px 7px;
	color:#1D4084;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight:normal;
	float:left;
}	
.pagging-bg DIV.pagging-last
{
 		 border-left-width:0px;
}
.pagging-current
{
	color:#204188;
	background-color:#B6CEE8;
}
.pagging-bg A,.pagging-bg A:hover
{
	text-decoration:none;
}	
A.pagging-dummy,A.pagging-dummy:hover
{
		color:silver;
		cursor:default;
}

.note-small{
	font-size : 11px;
}

.nivo-nextNav ,.nivo-prevNav{

font-size:0px;
}

.PanelTable .HTMLtitle{
 font-size:12px;
 color: #5C627A;
 font-weight:normal; 
}
/*ALEXEY*/
#new_contact_form,#new_bottom_contact_form,#new_side_contact_form{margin-bottom:20px;}
#new_contact_form p,#new_bottom_contact_form p,#new_side_contact_form p{padding:0; margin:0;}
select#agents{width:175px;  display:inline-block; float:left; color:#000000; border:1px solid #bcbdbf; direction:ltr; padding:5px;}
select#bottom_agents{width:175px; background-color:#F0F6FB;  display:inline-block; float:left; color:#000000; border:1px solid #bcbdbf; direction:ltr; padding:5px;}
#new_contact_form #desc,#new_bottom_contact_form #bottom_desc,#new_side_contact_form #desc{width:166px; height:125px; display:inline-block; border:1px solid #bcbdbf; color:#000000; padding:5px 7px; float:right; position:relative; margin-right:20px; overflow-y:auto; overflow-x:hidden;}
#new_bottom_contact_form
{
		text-align:left;
}
#new_side_contact_form #desc
{ 
 float:none;
 margin-top:10px;
 margin-right:0px;
 width:160px;
}
#new_side_contact_form .new_form_arrow
{
	position:relative;
}
#new_contact_form .new_form_arrow,#new_bottom_contact_form .new_form_arrow,#new_side_contact_form.new_form_arrow{position:relative; background:url('images/new_contact_arrow.png') 192px center no-repeat; height:140px;}
#new_contact_form #rank,#new_bottom_contact_form #bottom_rank{position:absolute; right:10px; top:-20px; width:28px; height:43px; z-index:100;}
#new_side_contact_form #rank{position:absolute; right:26px; top:35px; width:28px; height:43px; z-index:100;}
#bottom_rank.gold,#rank.gold,#agent_rank.gold{background:url('images/rank_gold.png') top left no-repeat; position:absolute; right:-10px; top:-15px; width:28px; height:43px; z-index:100;}
#bottom_rank.silver,#rank.silver,#agent_rank.silver{background:url('images/rank_silver.png') top left no-repeat; position:absolute; right:-10px; top:-15px; width:28px; height:43px; z-index:100;}
#bottom_rank.bronze,#rank.bronze,#agent_rank.bronze{background:url('images/rank_bronze.png') top left no-repeat; position:absolute; right:-10px; top:-15px; width:28px; height:43px; z-index:100;}



.popup{background:#FFFFFF; margin:auto; width:510px; height:auto; padding:22px; font-size:14px; color:#000000; position:relative;}
.popup h2{color:#102995; font-size:28px; font-weight:normal; padding-bottom:15px;}
.popup .content_left{display:inline-block; width:340px;}
.popup .content_right{display:inline-block; width:126px; position:relative; margin-left:39px; vertical-align:top;}
.popup .content_right img{width:126px; height:auto; vertical-align:top;}
.popup .rank{width:45px; height:70px; position:absolute; right:-12px; bottom:-40px;}

.popup .gold{width:45px; height:70px; position:absolute; right:-12px; bottom:-40px; background:url('images/rank_gold_big.png') top left no-repeat;} 
.popup .silver{width:45px; height:70px; position:absolute; right:-12px; bottom:-40px; background:url('images/rank_silver_big.png') top left no-repeat;} 
.popup .bronze{width:45px; height:70px; position:absolute; right:-12px; bottom:-40px; background:url('images/rank_bronze_big.png') top left no-repeat;} 

/* doctors lobby */
.doctors_lobby_item
{
	display:block;
	width:127px;
	min-height:190px;
	margin:0px 19px 25px 0px;	
	text-align:center;
	cursor:pointer;
	font-size:14px;
	color:#102896;
}
.doctors_lobby_item img
{
	margin-bottom:10px;
}
.doctors_lobby_item h3
{
	font-size:14px;
	color:#102896;
	font-weight:normal;
	padding:0px 10px 0px 10px;
}
.doctors_lobby_item.last
{
	margin-right:0px;	
}
/* relax page header -24-12-13*/

.header_bg
{
	background: url('images/header_stripe_bg.jpg') top right repeat-x;
	height: 46px;
}
.header_bg .cat_name
{
	color: #112996;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13pt;
    font-style: normal;
    font-weight: bold;
	padding-right:15px;
}
TD.CenterPanel.relax_center{
 padding-top:0px;
 padding-right:41px;
}
.contact_relax_box
{
	width:657px;
	padding-left:12px;
	padding-top:10px;
	min-height: 68px;
	border-top:1px solid #d2d2d2;
	border-left:1px solid #d2d2d2;
	border-right:1px solid #d2d2d2;
	border-bottom:2px solid #6ca524;
	background: url('images/contact_relax_bg.jpg') top right repeat-x;
	margin-bottom:35px;
	font-family: Arial;
}
.contact_relax_box .title
{
	font-size: 16px;
	line-height: 16px;
	color:#112996;
	font-weight:bold;
	padding-bottom:10px;
}
.contact_relax_box .field_title
{
	float: left;
	font-size: 12px;
	color:#112996;
	padding:4px 5px 0px 0px;
}
.contact_relax_box .input_box
{
	float: left;
	width: 110px;
	height: 20px;
	padding:2px;
	background-color: #ffffff;
	border: 1px solid #d3d3d3;
	margin-right: 10px;
	font-family: Arial;
	font-size:13px;
	color:#112996;
}
.contact_relax_box .input_box.last
{
	margin-left: 10px;
}
.relax_right_content
{
	float: left;
	width: 445px;	
}
.relax_right_content.wide
{
	width: 670px;
}
.relax_left_content
{
	float: right;
	width: 188px;
}
.relax_left_menu_title
{
	font-size: 16px;
	line-height: 16px;
	color:#112996;
	font-weight:bold;
	padding-bottom:10px;
}
.relax_left_menu
{
	width:184px;	
	border: 1px solid #d3d3d3;
	margin:0px;
	padding:1px;
	list-style-type: none;
	list-style-image:none;
	margin-bottom:15px;
}
.relax_left_menu li
{
	background: #e6e6e6 url('images/relax_menu_bg.jpg') top right repeat-x;
	width:184px;
	min-height: 36px;
	border-bottom:1px solid #ffffff;	
	list-style-image:none;
}
.relax_left_menu li.last
{
	border-bottom: none;
}
.relax_left_menu li a
{
	display:block;
	width:144px;
	min-height:16px;
	padding:10px 30px 10px 10px;
	background:  url('images/relax_bullet.png') 162px 12px no-repeat;	
	font-size:14px;
	line-height:18px;
	color:#666666;
	text-decoration:none;
}
.relax_left_menu li a:hover
{
	color:#112996;
}
.relax_left_box
{
	width:184px;	
	border: 1px solid #d3d3d3;
	margin:0px;
	padding:1px;
	background-color:#eeeeee;	
	min-height: 75px;
	text-align:center;
}
.relax_left_box .title
{
	font-size: 14px;
	line-height: 18px;
	color:#666666;	
	padding:7px 5px 5px 5px;
}
.relax_left_box .phone_num
{
	font-size: 20px;
	line-height: 20px;
	color:#112996;
	font-weight: bold;
	padding: 0px 5px 5px 5px;
}
.relax_left_box .email
{
	font-size: 14px;
	line-height: 16px;
	color:#112996;	
	padding: 0px 5px 7px 5px;
	text-decoration:none;
	display:block;
}
.relax_left_box .email:hover
{
	text-decoration: underline;
}
.relax_gallery
{
	margin:30px 0px 90px 0px;
}

/* facebook box */
.fb-like-box
{
margin-left:20px;margin:0 auto;background-color: #ffffff;width:228px;border:1px solid #9ea9bd;
}
.fb-like-box1
{
	width: 190px;border:1px solid #9ea9bd;
}
/* download application page */
/* download application page */
.wide-page-wrapper
{
	width: 1010px;
	margin:0 auto;
	font-family: Arial;
}
.wide-page-wrapper .wide-page-content
{
	margin-top: 30px;
	margin-bottom: 30px;
}	
 .app_bg
{
	background: url('images/app-download/main_bg.jpg') top right no-repeat;
	width: 1010px;
	min-height: 673px;
	background-size: cover;
	position: relative;
	
}
 .app_bg .inner-content
 {
	width: 920px;
	min-height: 400px;
	padding-top: 140px;	
	position: relative;
	left: 60px;
 }
  .app_bg .inner-content .img-div
  {	
	width: 367px;
	height: 400px;
	position:absolute;
	z-index: 10;
	left: 577px;
  }
   .app_bg .inner-content .content-wrapper
   {
	width: 587px;
	min-height: 345px;
	top: 195px;	
	position:absolute;
   }
.app_bg .inner-content .content-wrapper .content-box
{		
	width: 587px;
	min-height: 245px;
	background: url('images/app-download/transparent-bg.png') ;
	border-radius: 5px;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
	position:relative;					
}
.app_bg .inner-content .content-wrapper .content-box .content
{
	padding: 20px;
}
  .app_bg .inner-content .content-wrapper .content-box .content h1
  {
	font-size: 20px;
	line-height: 22px;
	font-weight: bold;
	color: #3a3a3a;
	padding-bottom: 5px;
  }
 .app_bg .inner-content .content-wrapper .content-box .content .subtitle
{
	font-size: 18px;
	line-height: 20px;
	color: #3a3a3a;
	padding-bottom: 5px;
}	
 .app_bg .inner-content .content-wrapper .content-box .content .desc
{
	font-size: 12px;
	line-height: 16px;
	color: #676767;
} 
.app_bg .inner-content .content-wrapper .comment-logo
{
	position: relative;
	padding-top: 10px;
	padding-left: 20px;
	min-height: 70px;	
	font-size: 22px;	
	color: #222222;
}
.app_bg .inner-content .content-wrapper .comment-logo .logos
{
	padding-top: 10px;
}
.app_bg .inner-content .content-wrapper .comment-logo .logos .logo
{
	float: left;
	margin-right: 15px;
}
/* new homepage */
.homepage-slider
{
	float: left;
	width: 660px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom:20px;
}	
.homepage-form
{
	float: left;
	width: 315px;
	margin-top: 20px;
	
}
.home-footer
{
	padding-top: 18px;
}
.home-left-panel
{
	float: left;
	width: 240px;
	padding-left: 20px;
	padding-bottom: 30px;
}
.home-left-panel .menu-div
{
	padding-bottom: 20px;
}
.home-center-content
{
	float: left;
	width: 475px;
	margin-right: 45px;
	padding-bottom: 30px;
}
.home-right-content
{
	float: left;
	width: 230px;
	padding-bottom: 30px;
}
.home-wide-div
{
	width: 990px;
	margin-left: 20px;	
}
.home-contact-right
{
	width: 315px;
	height: 360px;	
	margin-bottom: 30px;
	babkground-color:#fcfafb;
}
.home-contact-right .frm-title
{
	width: 315px;
	height: 50px;
	background-color: #102894;
	text-align: center;	
}
.home-contact-right .frm-title h3
{
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	padding-top: 15px;
}
.home-contact-right .frm-content
{
	width: 283px;
	height: 290px;
	border: 1px solid #dbdbdb;
	padding: 20px 15px 0px 15px;
	background-color: #fcfafb;
}
.home-contact-right .frm-content label
{
	float: left;
	width: 111px;
	font-size: 13px;
	color: #000000;
	text-align: left;
	display: block;
	padding-top: 7px;
}
.home-contact-right .frm-content label.wide
{
	width: 280px;
	float: none;
	padding-bottom: 5px;
}
.home-contact-right .frm-content .input-text
{
	float: left;
	width: 162px;
	height: 25px;
	border: 1px solid #7193b3;
	font-size: 13px;
	color: #000000;
	margin-bottom: 14px;
	background-color: #fcfafb;
}
.home-contact-right .frm-content .txt-msg
{
	width: 275px;
	height: 65px;
	border: 1px solid #7193b3;
	margin-bottom: 20px;
	background-color: #fcfafb;
}
.home-contact-right .frm-content .submit-btn
{
	float: right;	
}
/* home movies slider */
.home-swiper2
{
	position:relative;
	float: none;
	 width: 470x;  
	height: 276px;
    direction: ltr; 
	font-family: Tahoma;	
	margin-bottom: 20px;
	border: 1px solid #7588c4;
	padding: 1px 0px 1px 0px;
}
.home-swiper2 .swiper-container {
   width: 470px;  
	height: 276px;
}
.home-swiper2 .swiper-container  .content-slide
{
	padding:0;
}
.home-swiper2 .pagination2 {
  position: absolute;
  left: 0;
  text-align: right;
  top: 250px;
  width: 468px;
  direction: rtl;
  z-index:1000;
}
.home-swiper2 .pagination2.hidden
{
	display: none;
}
.home-swiper2 .swiper-pagination-switch {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #112996;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.home-swiper2 .swiper-active-switch {
  background: #ffffff;
}
.desc_rank
{
			border:1px solid #5794bf;
			float:right;
			width:200px;
			height:187px;
		 position: relative;
}
#agent_agents{float:left;}